<template>
  <v-container fluid id="contact-history">
    <v-layout>
      <v-flex xs12="xs12">
        <v-layout>
          <v-flex xs11="xs11">
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">account_balance</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1="xs1">
            <div class="right">
              <router-link to="/company">
                <v-btn primary fab floating small dark v-tooltip:left="{ html: 'Voltar para listagem de Empresas' }">
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12="xs12">

        <v-tabs id="mobile-tabs-2" grow>
          <v-tabs-bar slot="activators" class="cyan">
            <v-tabs-item href="#mobile-tabs-2-3" class="tab-company" ripple>
              <span class="text-tabs">Dados Cadastrais</span>
            </v-tabs-item>
            <v-tabs-item href="#mobile-tabs-2-1" class="tab-company" ripple>
              <span class="text-tabs">Contatos</span>
            </v-tabs-item>
            <v-tabs-item href="#mobile-tabs-2-2" class="tab-company" ripple>
              <span class="text-tabs">Histórico</span>
            </v-tabs-item>
            <v-tabs-slider class="cyan"></v-tabs-slider>
          </v-tabs-bar>
          <v-tabs-content id="mobile-tabs-2-3">
            <v-card>
              <v-card-text>
                <data-company :idCompany="idCompany"></data-company>
              </v-card-text>
            </v-card>
          </v-tabs-content>

          <!-- contatos -->
          <v-tabs-content id="mobile-tabs-2-1">
            <v-card>
              <v-card-text>
              <contact :idCompany="idCompany"></contact>
              </v-card-text>
            </v-card>
          </v-tabs-content>

          <!-- processo -->
          <v-tabs-content id="mobile-tabs-2-2">
            <v-card>
              <v-card-text v-if="!pageHistory">
                <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
                <v-data-table
                    v-bind:headers="headersProcess"
                    :items="itemsProcess"
                    v-bind:search="searchProcess"
                    hide-actions
                    class="elevation-1"
                  >
                  <template slot="items" scope="propsProcess">
                    <td class="text-xs-left">{{ propsProcess.item.id }}</td>
                    <td class="text-xs-left">{{ propsProcess.item._embedded.type.name }}</td>
                    <td class="text-xs-left">{{ JSON.parse(propsProcess.item.user).userName }}</td>
                    <td class="text-xs-left">{{ propsProcess.item._embedded.contact.name }}</td>
                    <td class="text-xs-left">{{ dateFormatBr(propsProcess.item.start.date) }}</td>
                    <td class="text-xs-left">{{ propsProcess.item.finalized? dateFormatBr(propsProcess.item.finalized.date) : '' }}</td>
                    <td class="text-xs-left">
                      <v-btn icon="icon" class="right" slot="activator"
                         v-tooltip:left="{ html: 'Editar processo' }"
                        @click.native="actionModalProcess(propsProcess.item.id)">
                        <v-icon class="blue--text">edit</v-icon>
                      </v-btn>
                      <v-btn icon="icon" class="right" slot="activator"
                         v-tooltip:left="{ html: 'Cadastrar historico' }"
                        @click.native="actionpageHistory(propsProcess.item.id)">
                        <v-icon class="blue--text">history</v-icon>
                      </v-btn>
                    </td>
                  </template>
                </v-data-table>
                <!-- Pagination -->
                <v-flex xs6 offset-xs5>
                  <v-pagination v-if="totalItemsProcess > 0" v-bind:length.number="totalItemsProcess" v-model="pagenationProcess" class="center" @click.native="paginate()"/>
                </v-flex>
              </v-card-text>

              <!-- modal Cadastro -->
              <v-dialog v-model="modalProcess" width="400" class="right" persistent>
                <v-btn primary fab dark
                  v-tooltip:left="{ html: 'Cadastrar Processo' }"
                  slot="activator"
                  v-if="!pageHistory"
                  @click.native="clearProcess()"
                  style="margin-top: 22px;">
                  <v-icon class="white--text">add</v-icon>
                </v-btn>
                <v-card>
                  <v-card-title class="headline blue--text">Processo</v-card-title>
                  <div class="spinner" v-if="process.id && loading">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                    <v-card-text>
                      <v-container fluid>
                        <v-layout>
                          <v-flex xs12>
                            <v-select
                              v-bind:items="type"
                              v-model="process.type"
                              label="Tipo"
                              auto
                            ></v-select>
                          </v-flex>
                        </v-layout>
                        <v-layout>
                          <v-flex xs12>
                            <v-select
                              v-bind:items="contactSelect"
                              v-model="process.contact"
                              label="Contato"
                              auto
                            ></v-select>
                          </v-flex>
                        </v-layout>
                        <v-layout>
                          <v-flex xs12>
                            <v-text-field
                              name="input-1"
                              label="Data finalização"
                              v-model="process.finalized"
                              v-mask-date.br>
                            </v-text-field>
                          </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-layout>
                      <v-flex xs12>
                      <v-btn class="blue--text darken-1" flat
                        @click.native="modalProcess = false; clearProcess()">Fechar</v-btn>
                      <v-btn primary class="white--text darken-1"
                          @click.native="registerProcess()"
                             v-bind:loading="loading"
                             v-on:click.native="loader = 'loading'"
                             v-tooltip:top="{ html: 'Cadastrar Processo' }"
                             v-bind:disabled="loading"
                          v-if="!process.id">
                          Salvar
                        </v-btn>
                        <v-btn primary class="white--text darken-1"
                          @click.native="editProcess()"
                               v-bind:loading="loading"
                               v-tooltip:top="{ html: 'Editar Processo' }"
                               v-on:click.native="loader = 'loading'"
                               v-bind:disabled="loading"
                          v-if="process.id">
                          Editar
                        </v-btn>
                    </v-flex>
                    </v-layout>
                  </v-card-actions>
                </v-card>
              </v-dialog>
              <v-card-text v-if="pageHistory">
                <v-btn primary fab small dark
                  @click.native="pageHistory = false"
                   v-tooltip:right="{ html: 'Retornar ao(s) Processo(s)' }"
                  >
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
                <span style="font-size: 20px; color: #1976d2;">Processos > históricos</span>
                <history :idProcess="idProcess"></history>
              </v-card-text>
              </v-card>
          </v-tabs-content>
        </v-tabs>
      </v-flex>
    </v-layout>
</v-container>
</template>

<script>
const moment = require('moment')
require('moment/locale/br')
import DataCompany from './history/DataCompany'
import Contact from './history/Contact'
import History from './history/History'
import Util from '../../../../mixin/Util'
export default {
  inject: ['$validator'],
  name: 'contact-history',
  mixins: [Util],
  data () {
    return {
      title: 'Empresa - Contato/Historico',
      content: '<h2>Example</h2>',
      editorOption: {
        height: '200'
      },
      process: {
        type: null,
        contact: null,
        finalized: null,
        id: null
      },
      history: {
        contact: null,
        description: null,
        action: null,
        idProcess: null
      },
      headersProcess: [
        { text: 'Cod', align: 'left', sortable: false },
        { text: 'Tipo', align: 'left', sortable: false },
        { text: 'Autor', align: 'left', sortable: false },
        { text: 'Contato', align: 'left', sortable: false },
        { text: 'Iniciado em', align: 'left', sortable: false },
        { text: 'Finalizado em', align: 'left', sortable: false },
        { text: 'Ações' }
      ],
      loading: false,
      alertContact: false,
      itemsHistory: [],
      itemsProcess: [],
      modalProcess: false,
      pageHistory: false,
      type: [],
      action: [],
      contactSelect: [],
      totalItemsProcess: null,
      idCompany: this.$route.params.id,
      modalHistory: false,
      pagenationProcess: 1,
      searchProcess: null,
      processHistory: {},
      modalViewHistory: false,
      idProcess: null
    }
  },
  methods: {
    actionpageHistory (idProcess) {
      this.idProcess = idProcess
      this.pageHistory = true
    },
    actionModalProcess (idProcess) {
      this.modalProcess = true
      this.loading = true
      this.fetchProcess(idProcess)
      this.fetchAllContact()
    },
    registerHistory () {
      this.loading = true
      this.$http.post(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + this.history.idProcess + '/history',
        this.history
      ).then(response => {
        this.fetchAllHistory(this.history.idProcess)
        this.clearHistory()
        this.$toasted.success('Dados cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
        this.modalHistory = false
      }, response => {
        this.$toasted.error('Falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
      })
    },
    fetchProcess (idProcess) {
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + idProcess).then(function (response) {
        this.popularProcess(response.body)
        this.processHistory = response.body
        this.processHistory.start.date = this.dateFormatBr(this.processHistory.start.date)
        this.processHistory.finalized = {date: this.processHistory.finalized ? this.dateFormatBr(this.processHistory.finalized.date) : ''}
        this.loading = false
      })
    },
    popularProcess (objParams) {
      if (objParams.finalized) {
        objParams.finalized = moment(objParams.finalized.date).format('DD/MM/YYYY')
      }
      this.process = {
        type: objParams._embedded.type.id,
        contact: objParams._embedded.contact.id,
        finalized: objParams.finalized,
        id: objParams.id
      }
    },
    clearProcess () {
      this.process = {
        type: null,
        contact: null,
        finalized: null,
        id: null
      }
    },
    editProcess () {
      this.loading = true
      this.process.finalized = this.dateFormatPost(this.process.finalized)
      this.$http.put(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + this.process.id, this.process).then(response => {
        this.loading = false
        this.fetchAllProcess()
        this.clearProcess()
        this.modalProcess = false
        this.$toasted.success('Dados cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      }, response => {
        this.$toasted.error('Falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.process.finalized = this.dateFormatError(this.justNumber(this.process.finalized))
        this.modalProcess = false
      })
    },
    fetchAllContact () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/contact', { params: { page: this.page } }).then(function (response) {
        this.items = response.body._embedded.contact
        this.totalItems = response.body.page_count
        this.loading = false
        let i
        this.contactSelect = response.body._embedded.contact
        for (i = 0; i < response.body._embedded.contact.length; i++) {
          this.contactSelect[i].text = response.body._embedded.contact[i].name
          this.contactSelect[i].value = response.body._embedded.contact[i].id
        }
      })
    },
    fetchAllProcess () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/process', { params: { page: this.page } }).then(function (response) {
        this.itemsProcess = response.body._embedded.company_process
        this.totalItemsProcess = response.body.page_count
        this.loading = false
      })
    },
    deleteContact (id) {
      console.log(id)
    },
    paginate () {
      this.fetchAllContact()
    },
    fetchAllType () {
      this.$http.get(process.env.API_URL + 'type', { page_type: '-1' }).then(function (response) {
        let i
        this.type = response.body._embedded.type
        for (i = 0; i < response.body._embedded.type.length; i++) {
          this.type[i].text = response.body._embedded.type[i].name
          this.type[i].value = response.body._embedded.type[i].id
        }
      })
    },
    registerProcess () {
      this.$http.post(process.env.API_URL + 'company/' + this.$route.params.id + '/process',
        this.process
      ).then(response => {
        this.fetchAllProcess()
        this.clearProcess()
        this.modalProcess = false
        this.$toasted.success('Dados cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      }, response => {
        this.loading = false
        this.$toasted.error('Falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    dateFormatBr (date) {
      return moment(date).format('DD/MM/YYYY')
    }
  },
  mounted () {
    this.fetchAllContact()
    this.fetchAllType()
    this.fetchAllProcess()
  },
  components: {
    'data-company': DataCompany,
    'contact': Contact,
    'history': History
  }
}
</script>

<style scoped>
  .button-list-float {
    bottom: 85px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin: 0;
    list-style-type: none;
  }
  .text-tabs {
    color: #1976d2;
    font-weight: bold;
  }
  .tab-company {
    background-color: #FFF;
  }
</style>
