<template>
  <v-container fluid id="company-edit">
    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">account_balance</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
              <router-link to="/company">
                <v-btn primary fab floating small dark v-tooltip:left="{ html: 'Voltar para listagem de Empresas' }">
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
              <fieldset>
              <legend>Dados Gerais</legend>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="nome"
                    label="Nome Organização"
                    v-bind:rules="rules.nome"
                    v-validate="{ rules: {required: true, min: 3, max: 150}}"
                    v-model="company.name"
                    maxlength="150"
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    name="razao_social"
                    label="Razão Social"
                    v-bind:rules="rules.razao_social"
                    v-validate="{ rules: {required: true, min: 3, max: 150}}"
                    v-model="company.socialName"
                    maxlength="150"
                    required>
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="cnpj"
                    label="CNPJ"
                    v-model="company.cnpj"
                    v-bind:rules="rules.cnpj"
                    v-validate="{ rules: {required: true}}"
                    maxlength="19"
                    v-mask-cnpj
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="inscricao_estadual"
                    label="Inscrição Estadual"
                    v-bind:rules="rules.inscricao_estadual"
                    v-validate="{ rules: {required: true}}"
                    v-model="company.inscriptionState"
                    maxlength="20"
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="input-1"
                    label="Inscrição Municipal"
                    v-model="company.inscriptionCity"
                    maxlength="20">
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs8>
                  <v-text-field
                    name="email"
                    label="E-mail"
                    v-model="company.mail"
                    v-bind:rules="rules.email"
                    v-validate="{ rules: {required: true}}"
                    maxlength="150"
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="data_criacao"
                    label="Data Criação"
                    v-bind:rules="rules.data_criacao"
                    v-validate="'required'"
                    v-mask-date.br
                    maxlength="10"
                    v-model="company.createRegister"
                    required>
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="input-1"
                    label="Facebook"
                    maxlength="100"
                    v-model="company.facebook">
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="input-1"
                    label="Skype"
                    maxlength="100"
                    v-model="company.skype">
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="input-1"
                    label="WebSite"
                    maxlength="100"
                    v-model="company.website">
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>

              <!-- ramo de atuacao -->
              <fieldset>
                <legend>Ramo de atuação</legend>
                <v-layout>
                  <v-flex xs12>
                    <v-select
                      v-bind:items="branchs"
                      v-model="branch"
                      label="Ramo de atuação"
                      autocomplete
                      multiple
                      chips
                    ></v-select>
                  </v-flex>
                </v-layout>
              </fieldset>

              <fieldset>
              <legend>Dados de Endereço</legend>
              <v-progress-linear v-bind:indeterminate="loadingCep" v-if="loadingCep"></v-progress-linear>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                          name="cep"
                          label="CEP"
                          max="10"
                          maxlength="10"
                          v-mask="'##.###-###'"
                          v-model="company.cep"
                          v-on:blur="findAddress()"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                <span class="group pa-2" v-tooltip:right="{ html: 'Digite o Cep para preencher o endereço.' }">
                  <v-icon tiny style="margin-top: 17px; cursor: pointer;">help</v-icon>
                </span>
                  </v-flex>
              </v-layout>

              <v-layout>
                <v-flex xs5>
                  <v-select
                          v-bind:items="ufs"
                          v-model="uf_selected"
                          label="UF"
                          autocomplete
                          @input="selectCities()"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                          v-bind:items="cities"
                          v-model="city_selected"
                          label="Cidade"
                          autocomplete
                          return-object
                  ></v-select>
                </v-flex>
              </v-layout>

              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="descricao"
                    label="Logradouro"
                    v-bind:rules="rules.descricao"
                    v-validate="{ rules: {required: true}}"
                    v-model="company.description"
                    maxlength="150"
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    name="bairro"
                    label="Bairro"
                    v-bind:rules="rules.bairro"
                    v-validate="{ rules: {required: true}}"
                    v-model="company.district"
                    maxlength="150"
                    required>
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <!--<v-flex xs3>-->
                  <!--<v-text-field-->
                    <!--name="cidade"-->
                    <!--label="Cidade"-->
                    <!--v-bind:rules="rules.cidade"-->
                    <!--v-validate="{ rules: {required: true}}"-->
                    <!--v-model="company.city"-->
                    <!--maxlength="150"-->
                    <!--required>-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->

                <!--<v-flex xs3>-->
                  <!--<v-text-field-->
                    <!--name="uf"-->
                    <!--label="UF"-->
                    <!--v-bind:rules="rules.uf"-->
                    <!--v-validate="{ rules: {required: true}}"-->
                    <!--v-model="company.uf"-->
                    <!--maxlength="2"-->
                    <!--required>-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->

                <!--<v-flex xs3>-->
                  <!--<v-text-field-->
                    <!--name="cep"-->
                    <!--label="CEP"-->
                    <!--v-mask-cep-->
                    <!--v-bind:rules="rules.cep"-->
                    <!--v-validate="{ rules: {required: true}}"-->
                    <!--v-model="company.cep"-->
                    <!--maxlength="10"-->
                    <!--required>-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->

                <v-flex xs12>
                  <v-text-field
                    name="complemento"
                    label="Complemento"
                    v-model="company.complement"
                    maxlength="255"
                  >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="telefone"
                    label="Telefône Principal"
                    v-bind:rules="rules.telefone"
                    v-validate="{ rules: {required: true}}"
                    v-model="company.phone"
                    maxlength="15"
                    v-mask-phone.br
                    required>
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="input-1"
                    label="Telefône Secundário"
                    v-model="company.phoneSecundary"
                    maxlength="15"
                    v-mask-phone.br>
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>

              <fieldset>
              <legend>Complemento</legend>
              <v-layout>
                <v-flex xs12>
                  <v-text-field
                    name="input-1"
                    label="Observações"
                    v-model="company.note">
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>
              <!-- Cadastrar empresa -->
              <v-layout>
                <v-flex xs12 offset-xs6>
                  <v-btn
                    class="right"
                    v-bind:loading="loading"
                    v-on:click.native="loader = 'loading'"
                    v-bind:disabled="loading"
                    primary
                    type="submit"
                    v-tooltip:top="{ html: 'Editar Empresa' }"
                  >
                    Editar
                    <v-icon right class="white--text">send</v-icon>
                  </v-btn>
                  <router-link to="/company">
                    <v-btn
                      class="right"
                      default
                      v-tooltip:top="{ html: 'Cancelar a Ação' }"
                    >
                      Cancelar
                      <v-icon right>undo</v-icon>
                    </v-btn>
                  </router-link>
                </v-flex>
              </v-layout>
            </form>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
</v-container>
</template>

<script>
const moment = require('moment')
require('moment/locale/br')

import _ from 'lodash'
import { Validator } from 'vee-validate'
const validator = new Validator()
validator.installDateTimeValidators(moment)
import Util from '../../../../mixin/Util'
export default {
  inject: ['$validator'],
  name: 'company-edit',
  mixins: [Util],
  data () {
    return {
      title: 'Empresa',
      branch: [],
      branchs: [],
      mapCompany: {
        name: 'Nome',
        socialName: 'SobreNome',
        cnpj: 'CNPJ',
        inscriptionState: 'Inscrição Estadual',
        inscriptionCity: 'Inscrição Municipal',
        createRegister: 'Data de criação',
        mail: 'E-mail',
        phone: 'Telefone Principal',
        phoneSecundary: 'Telefone Secundário',
        facebook: 'Facebook',
        skype: 'Skype',
        website: 'WebSite',
        description: 'Logradouro',
        district: 'Bairro',
        city: 'Cidade',
        uf: 'Estado',
        cep: 'CEP',
        complement: 'Complemento',
        note: 'Observações'
      },
      company: {
        name: '',
        socialName: '',
        cnpj: null,
        inscriptionState: null,
        inscriptionCity: null,
        createRegister: null,
        mail: null,
        phone: null,
        phoneSecundary: null,
        facebook: null,
        skype: null,
        website: null,
        description: null,
        district: null,
        city: null,
        uf: null,
        cep: null,
        complement: null,
        note: null,
        branch: []
      },
      rules: {
        nome: [],
        razao_social: [],
        cnpj: [],
        inscricao_estadual: [],
        data_criacao: [],
        email: [],
        telefone: [],
        descricao: [],
        bairro: [],
        cidade: [],
        uf: [],
        cep: []
      },
      ufs: [
        {text: 'Acre', value: 'AC'},
        {text: 'Alagoas', value: 'AL'},
        {text: 'Amapá', value: 'AP'},
        {text: 'Amazonas', value: 'AM'},
        {text: 'Bahia', value: 'BA'},
        {text: 'Ceará', value: 'CE'},
        {text: 'Distrito Federal', value: 'DF'},
        {text: 'Espírito Santo', value: 'ES'},
        {text: 'Goiás', value: 'GO'},
        {text: 'Maranhão', value: 'MA'},
        {text: 'Mato Grosso', value: 'MT'},
        {text: 'Mato Grosso do Sul', value: 'MS'},
        {text: 'Minas Gerais', value: 'MG'},
        {text: 'Pará', value: 'PA'},
        {text: 'Paraíba', value: 'PB'},
        {text: 'Paraná', value: 'PR'},
        {text: 'Pernambuco', value: 'PE'},
        {text: 'Piauí', value: 'PI'},
        {text: 'Rio de Janeiro', value: 'RJ'},
        {text: 'Rio Grande do Norte', value: 'RN'},
        {text: 'Rio Grande do Sul', value: 'RN'},
        {text: 'Rondônia', value: 'RO'},
        {text: 'Roraima', value: 'RR'},
        {text: 'Santa Catarina', value: 'SC'},
        {text: 'São Paulo', value: 'SP'},
        {text: 'Sergipe', value: 'SE'},
        {text: 'Tocantins', value: 'TO'}
      ],
      uf_selected: [],
      city_selected: [],
      cities: [],
      loadingCep: false,
      loading: false
    }
  },
  mounted () {
    let id = this.$route.params.id
    this.getCompany(id)
    this.getBranchOfActivity()
  },
  methods: {
    edit () {
      this.loading = true
      this.company.city = this.city_selected.name
      this.company.cnpj = this.justNumber(this.company.cnpj)
      this.company.phone = this.justNumber(this.company.phone)
      this.company.phoneSecundary = this.justNumber(this.company.phoneSecundary)
      this.company.cep = this.justNumber(this.company.cep)
      this.company.createRegister = this.dateFormatPost(this.company.createRegister)
      this.company.branch = this.branch.map(function (item) {
        return item
      })
      this.$http.put(process.env.API_URL + 'company/' + this.$route.params.id, this.company).then(response => {
        this.loading = false
        this.$toasted.success('Dados editados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.getCompany(this.$route.params.id)
      }, response => {
        this.validates = response.body.validation_messages
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.company.createRegister = this.dateFormatError(this.justNumber(this.company.createRegister))
      })
    },
    getCompany (id) {
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id).then(function (response) {
        this.popularCompany(response.body)
      }, response => {
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    popularCompany (objParams) {
      this.company = {
        company: objParams.id,
        name: objParams.name,
        socialName: objParams.socialName,
        cnpj: objParams.cnpj,
        inscriptionState: objParams.inscriptionState,
        inscriptionCity: objParams.inscriptionCity,
        createRegister: moment(objParams.createRegister.date).format('DD/MM/YYYY'),
        mail: objParams.mail,
        phone: objParams.phone,
        phoneSecundary: objParams.phoneSecundary,
        facebook: objParams.facebook,
        skype: objParams.skype,
        website: objParams.website,
        description: objParams._embedded.address.description,
        district: objParams._embedded.address.district,
        city: objParams._embedded.address.city,
        uf: objParams._embedded.address.uf,
        cep: objParams._embedded.address.cep,
        complement: objParams._embedded.address.complement,
        note: objParams.note
      }
      this.uf_selected = objParams._embedded.address.city
      this.city_selected = objParams._embedded.address.city
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.edit()
        })
        .catch(err => {
          _.forEach(this.rules, (value, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    },
    getBranchOfActivity () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'branch-of-activity').then(response => {
        this.branchs = response.body._embedded.branch_of_activity
        for (this.i = 0; this.i < response.body._embedded.branch_of_activity.length; this.i++) {
          this.branchs[this.i].text = response.body._embedded.branch_of_activity[this.i].name
          this.branchs[this.i].value = response.body._embedded.branch_of_activity[this.i].id
        }
        this.getCompanyBranchActivity(this.$route.params.id)
        this.loading = false
      }, response => {
        this.$toasted.error('Falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
      })
    },
    getCompanyBranchActivity (id) {
      this.$http.get(process.env.API_URL + 'company-branch-activity', { params: { company: this.$route.params.id } }).then(function (response) {
        this.branch = response.body._embedded.company_branch_activity.map(function (item) {
          return item._embedded.branchActivity.id
        })
      }, response => {
        this.$toasted.error('Ocorreu um erro ao recuperar ramos de atuação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    findAddress () {
      if (this.company.cep && this.justNumber(this.company.cep).length >= 8) {
        this.loadingCep = true
        this.$http.get(process.env.API_URL + 'cep/' + this.justNumber(this.company.cep)).then(response => {
          this.company.uf = response.body.uf
          this.uf_selected = response.body.uf
          this.city_selected.text = response.body._embedded.city.name
          this.company.description = response.body.description
          this.company.complement = response.body.complement
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Infelizmente não encontramos nenhum endereço para o Cep digitado :(', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    },
    selectCities () {
      if (this.uf_selected) {
        this.loadingCep = true
        this.company.uf = this.uf_selected
        this.$http.get(process.env.API_URL + 'city?uf=' + this.uf_selected).then(response => {
          this.cities = response.body._embedded.city
          for (let iteratorCities = 0; iteratorCities < response.body._embedded.city.length; iteratorCities++) {
            this.cities[iteratorCities].text = response.body._embedded.city[iteratorCities].name
            this.cities[iteratorCities].value = response.body._embedded.city[iteratorCities].id
          }
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Falha ao realizar a operação para buscar as cidades deste Estado.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    }
  },
  components: {}
}
</script>

<style scoped>
  .content {
    margin-top: 55px;
    margin-bottom: 30px;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  fieldset {
    border: 1px solid #BEBEBE;
    padding: 4px;
    margin: 4px;
  }
  fieldset > legend {
    color: rgb(25, 118, 210);
    font-size: 18px;
    margin-left: 10px;
  }
  .tabs__tabs {
    background-color: red !important;
  }
</style>
