<template>
  <v-container fluid id="company">
      <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
    <v-layout>
        <!-- DataGrid -->
        <v-flex xs12 v-if="!loading">
          <v-layout>
            <v-flex xs6>
              <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">account_balance</v-icon> {{ title }}</h4>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                label="Pesquisa"
                v-model="company.search"
                append-icon="search"
                v-on:keyup.native.enter="fetchCompany()"
              /></v-text-field>
            </v-flex>
          </v-layout>
          <!-- <v-card>
            <v-card-text> -->
              <v-data-table
                  v-bind:headers="headers"
                  :items="items"
                  v-bind:search="search"
                  hide-actions
                  class="elevation-1"
                >
                <template slot="items" scope="props">
                  <td class="text-xs-left">{{ props.item.id }}</td>
                  <td class="text-xs-left">{{ props.item.name.length < 20 ? props.item.name.substr(0, 20) + '' : props.item.name.substr(0, 20) + '...' }}</td>
                  <td class="text-xs-left">{{ props.item._embedded? props.item._embedded.address.city: null }}</td>
                  <td class="text-xs-left">{{ props.item._embedded? props.item._embedded.address.uf: null }}</td>
                  <td class="text-xs-left">{{ props.item.phone }}</td>
                  <td class="text-xs-left">{{ props.item.website }}</td>
                  <td class="text-xs-left">{{ props.item.status | formatStatus }}</td>
                  <td class="text-xs-left">
                      <v-btn v-if="props.item.status" icon="icon" @click.native="excluir(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                        <v-icon class="red--text">delete</v-icon>
                      </v-btn>
                      <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                        <v-icon class="grey--text">delete</v-icon>
                      </v-btn>
                      <router-link :to="{ path: '/company/edit/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                          <v-icon class="blue--text">edit</v-icon>
                        </v-btn>
                      </router-link>
                      <router-link :to="{ path: '/company/contacthistory/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Contato e Historico' }">
                          <v-icon class="blue--text">contacts</v-icon>
                        </v-btn>
                      </router-link>
                  </td>
                </template>
              </v-data-table>
              <!-- Pagination -->
              <v-flex xs6 offset-xs5>
                <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
              </v-flex>
            <!-- </v-card-text>
          </v-card> -->
          <div>
            <router-link :to="{ path: '/company/create' }">
              <v-btn fab primary class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Empresas' }">
                <v-icon class="white--text">add</v-icon>
              </v-btn>
            </router-link>
          </div>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  name: 'company',
  data () {
    return {
      title: 'Empresas',
      headers: [
        { text: 'Codígo', align: 'left', sortable: false },
        { text: 'Nome', align: 'left', sortable: false },
        { text: 'Cidade', align: 'left', sortable: false },
        { text: 'UF', align: 'left', sortable: false },
        { text: 'Telefone', align: 'left', sortable: false },
        { text: 'WebSite', align: 'left', sortable: false },
        { text: 'Status', align: 'left', sortable: false },
        { text: '' }
      ],
      company: {
        search: null
      },
      search: null,
      items: [],
      page: 1,
      totalItems: null,
      loading: true
    }
  },
  mounted () {
    this.fetchCompany()
  },
  methods: {
    fetchCompany () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'company', { params: { page: this.page, search: this.company.search } }).then(function (response) {
        this.items = response.body._embedded.company
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    paginate () {
      this.fetchCompany()
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'company/' + id).then(function (response) {
        this.alert = true
        this.fetchCompany()
      })
    }
  },
  components: {}
}
</script>

<style scoped>
  #company a {
    text-decoration: none;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
</style>
