<template>
  <v-container fluid>
    <!-- <v-layout> -->
        <v-flex xs12>
          <h4>
            <v-icon class="blue--text text--lighten-1">home</v-icon>
            Dashboard
          </h4>
          <img src="../../../assets/img/indicador.png" alt="Graficos" />
        </v-flex>
    <!-- </v-layout> -->
  </v-container>
</template>
<style scoped>
  img {
    height: 80%;
    width: 100%;
  }
</style>
