<template>
  <!-- <div id="auth"> -->
    <v-container fluid>
        <v-layout row wrap style="margin-top: 10%;">
          <v-flex xs12 lg4 style="border: 1px solid #fff;"></v-flex>
          <v-flex xs11 lg4 style="border: 1px solid #fff;">
            <h4 class="blue--text title-logo text-xs-center" style="color: #1976d2; font-size: 25px;">
              <img src="../../../assets/img/logoCrm.png" height="30">
              CrmPro
            </h4>
          </v-flex>
          <v-flex xs12 lg4 style="border: 1px solid #fff;"></v-flex>
          <login></login>
        </v-layout>
    </v-container>
  <!-- </div> -->
</template>

<script>

import { mapGetters } from 'vuex'
import Login from './Forms/Login'

export default {
  name: 'auth',
  components: {
    Login
  },
  computed: {
    ...mapGetters(['isLogged'])
  }

}
</script>

<style scoped>
.footer {
  width: 100%;
  position: absolute;;
  bottom: 0;*/
  margin: 0;
  /*z-index: 995;*/
  box-shadow: 0px 0px 2px #444141;
}
.logo-footer {
  height: 25px;
  vertical-align: text-bottom;
}
body, html {
    /* height: 100%; */
    min-height: 100%;
    position: relative;
    width: 100%;
}
</style>
