<script>

import _, { isEmpty } from 'lodash'
import { mapActions } from 'vuex'

export default {
  inject: ['$validator'],
  name: 'login',
  data () {
    return {
      loading: false,
      messageError: '',
      user: {
        grant_type: 'password',
        client_id: '',
        client_secret: '',
        username: '',
        password: ''
      },
      rules: {
        login: [],
        senha: []
      }
    }
  },
  methods: {
    ...mapActions(['attemptLogin']),
    doLogin () {
      this.loading = true
      this.user.client_id = this.user.username
      this.user.client_secret = this.user.password
      const user = this.user
      this.attemptLogin({ ...user })
        .then(() => {
          localStorage.setItem('username', user.username)
          this.loading = false
          this.$router.push('/')
        }, () => {
          this.messageError = 'Usuário ou senha inválido!'
          this.loading = false
        })
    },
    fecharError () {
      this.messageError = ''
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.doLogin()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    }
  },
  computed: {
    isValid () {
      const user = this.user
      return !isEmpty(user.username) && !isEmpty(user.password)
    }
  }
}
</script>

<template>
  <v-container fluid>
     <v-layout row justify-space-around>
      <v-flex xs12 sm7 lg2>
        <v-card class="white">
          <v-card-text>
            <div v-if="messageError" class="red" style="padding: 5px; margin-bottom: 35px;">
              <span class="white--text ext-xs-center">
                <v-icon class="white--text text--darken-2" style="vertical-align: middle; margin-right: 5px;">info</v-icon>
                {{ messageError }}
                <v-icon class="white--text" style="vertical-align: middle; float: right; cursor: pointer; font-size: 17px; margin-top: 3px;" title="Fechar" @click.native="fecharError()">close</v-icon>
              </span>
            </div>
            <form class="" @submit.prevent="validateForm" novalidate>
            <v-layout row wrap>
              <v-flex xs12>
                <v-text-field
                  label="Login:"
                  name="login"
                  v-bind:rules="rules.login"
                  class="input-group--focused"
                  append-icon="account_circle"
                  v-model="user.username"
                  v-validate="{ rules: {required: true, min: 3, max: 150}}"
                  maxlength="150"
                  required
                ></v-text-field>
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs12>
                 <v-text-field
                   label="Senha:"
                   name="senha"
                   class="input-group--focused"
                   v-bind:rules="rules.senha"
                   v-model="user.password"
                   append-icon="lock"
                   type="password"
                   v-validate="{ rules: {required: true, min: 3, max: 150}}"
                   required
                 ></v-text-field>
              </v-flex>
            </v-layout>
            <!-- Logar -->
            <v-layout row wrap>
              <v-flex xs12>
                <v-btn
                   v-bind:loading="loading"
                   v-on:click.native="loader = 'loading'"
                   v-bind:disabled="loading"
                   primary
                   v-tooltip:top="{ html: 'Acessar o Sistema' }"
                   type="submit"
                   block
                >
                  Acessar
                  <v-icon right>send</v-icon>
                </v-btn>
              </v-flex>
            </v-layout>
            </form>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>
