.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

div.container {
  padding-bottom: 12px;
}

/* fieldset of forms */
fieldset {
  border: 1px solid #BEBEBE;
  padding: 4px;
  margin: 4px;
}
fieldset > legend {
  color: rgb(25, 118, 210);
  font-size: 18px;
  margin-left: 10px;
}
.tabs__tabs {
  background-color: red !important;
}

/* Links of all Apllicaction */
a, a:link, a:hover {
  text-decoration: none;
}

.pagination.center {
  margin-top: 10px;
}

.center-loading-spinner {
  margin: 0 48% !important;
}

/* ==================== SPPINER =========================== */
.spinner {
  margin: 30px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: rgb(25, 118, 210);

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
}

.ql-container.ql-snow {
  height: 300px;
}