<template>
  <v-footer class="white secondary footer">
    <v-spacer></v-spacer>
    <div class="blue--text">
      © {{ new Date().getFullYear() }} - <img src="../../assets/img/logoCrm.png" class="logo-footer"> CrmPro
    </div>
  </v-footer>
</template>

<script>
export default {
}
</script>

<style scoped>
.footer {
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 2px #444141;
}
.logo-footer {
  height: 25px;
  vertical-align: bottom;
}
</style>
