<template>
  <div id="header-main">
    <v-toolbar class="white secondary">
      <!--<v-toolbar-side-icon />-->
       <!-- <v-toolbar-logo class="text-xs-right" style="color: gray;"> -->
          <!-- <img src="../../assets/img/logoCrm.png" height="30"> -->
          <h4 class="title-logo"><img src="../../assets/img/logoCrm.png" height="30" style="vertical-align: sub"> CrmPro</h4>
       <!-- </v-toolbar-logo> -->
       <v-spacer />
        <v-btn icon dark icon="icon" v-tooltip:left="{ html: 'Configurações' }">
          <v-icon class="blue--text text--dark">account_circle</v-icon>
        </v-btn>
        <v-btn icon dark icon="icon" v-tooltip:bottom="{ html: 'Sair' }" @click.native="doLogout">
          <v-icon class="red--text text--lighten-1">power_settings_new</v-icon>
        </v-btn>
    </v-toolbar>
  </div>
</template>

<script>
export default {
  name: 'HeaderMain',
  data () {
    return {
      sidebar2: true
    }
  },
  methods: {
    doLogout () {
      localStorage.removeItem('token')
      window.location.href = '/auth'
    }
  }
}
</script>

<style scoped>
  .toolbar i {
    color: #1976d2;
  }
  .title-logo {
    color: #1976d2;
    font-size: 25px;
    margin-top: 13px;
    margin-left: 6px;
  }
  #header-main {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
  }
</style>
