<template>
  <div>
    <v-app
        id="e3"
        standalone
    >
      <CrmSidebar></CrmSidebar>
    </v-app>
    <CrmFooter></CrmFooter>
  </div>
</template>

<script>
import CrmHeader from './Header.vue'
import CrmSidebar from './Sidebar.vue'
import CrmFooter from './Footer.vue'

export default {
  name: 'LayoutBase',
  data () {
    return {}
  },
  methods: {
    hideNav () {
      this.sidebar2 = !this.sidebar2
    }
  },
  mounted () { },
  components: {
    CrmHeader,
    CrmSidebar,
    CrmFooter
  }
}
</script>

<style scoped>
  a.router-link-active  {
    color: #FFF;
    text-decoration: none;
  }
  .list__item a {
    color: #FFF;
    text-decoration: none;
  }
</style>
