<template>
  <div id="crm-sidebar">
      <v-navigation-drawer
            persistent
            light
            :mini-variant.sync="mini"
            v-model="drawer"
            overflow
            enable-resize-watcher
            clipped
      >
        <!-- Data -->
          <v-list class="pa-0">
            <v-list-tile avatar tag="div">
              <v-list-tile-avatar>
                <!-- <img src="https://randomuser.me/api/portraits/men/90.jpg" /> -->
                <v-icon>account_box</v-icon>
              </v-list-tile-avatar>
              <v-list-tile-content>
                <v-list-tile-title>ZeusMaster</v-list-tile-title>
              </v-list-tile-content>
              <v-list-tile-action>
                <v-btn icon @click.native.stop="mini = !mini">
                  <v-icon>chevron_left</v-icon>
                </v-btn>
              </v-list-tile-action>
            </v-list-tile>
          </v-list>
        <!-- Data -->
        <v-list dense>
          <template v-for="(item, i) in items">
            <v-layout
                    row
                    v-if="item.heading"
                    align-center
                    :key="i"
            >
              <v-flex xs6>
                <v-subheader v-if="item.heading">
                  {{ item.heading }}
                </v-subheader>
              </v-flex>
              <v-flex xs6 class="text-xs-center">
                <a href="#!" class="body-2 black--text">EDIT</a>
              </v-flex>
            </v-layout>
            <v-list-group v-else-if="item.children" v-model="item.model" no-action>
              <v-list-tile slot="item">
                <v-list-tile-action>
                  <v-icon v-bind:class="item.iconColor">{{ item.model ? item.icon : item['icon-alt'] }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                  <v-list-tile-title>
                    {{ item.text }}
                  </v-list-tile-title>
                </v-list-tile-content>
              </v-list-tile>
                <router-link :to="{ path: child.to.name }"  v-for="(child, i) in item.children"
                      :key="i">
                  <v-list-tile>
                    <v-list-tile-action v-if="child.icon">
                      <v-icon v-bind:class="child.iconColor" class="align-sub-menu">
                        {{ child.icon }}
                      </v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                      <v-list-tile-title>
                        {{ child.text }}
                      </v-list-tile-title>
                    </v-list-tile-content>
                  </v-list-tile>
                </router-link>
            </v-list-group>
            <v-list-tile v-else>
              <v-list-tile-action>
                <v-icon v-bind:class="item.iconColor">{{ item.icon }}</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>
                  {{ item.text }}
                </v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
          </template>
        </v-list>
      </v-navigation-drawer>

    <v-toolbar fixed class="white secondary">
      <v-toolbar-side-icon @click.native.stop="drawer = !drawer" style="color: #1976d2;"></v-toolbar-side-icon>
      <v-toolbar-title class="title-logo">
        <img src="../../assets/img/logoCrm.png" height="30" style="vertical-align: sub"> CrmPro
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon dark icon="icon" v-tooltip:bottom="{ html: 'Sair' }" @click.native="doLogout">
        <v-icon class="red--text text--lighten-1">power_settings_new</v-icon>
      </v-btn>
    </v-toolbar>
    <main>
      <v-container fluid>
        <v-layout>
          <router-view></router-view>
        </v-layout>
      </v-container>
    </main>
  </div>
</template>

<script>
export default {
  name: 'crm-sidebar',
  data () {
    return {
      items: [
        { icon: 'home', text: 'Home', iconColor: 'blue--text text--lighten-1', to: '/' },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Administração',
          model: false,
          children: [
            { icon: 'people_outline',
              text: 'Colaborador',
              iconColor: 'red--text text--lighten-1',
              to: { name: '/collaborator' },
              acl: false
            },
            { icon: 'fingerprint',
              text: 'Perfil',
              iconColor: 'purple--text text--lighten-1',
              to: { name: 'perfil' },
              acl: true
            },
            { icon: 'playlist_add',
              text: 'Funcionalidade',
              iconColor: 'pink--text text--lighten-1',
              to: { name: '/funcionalidade' },
              acl: true
            },
            { icon: 'security',
              text: 'Permissão',
              iconColor: 'green--text text--lighten-1',
              to: { name: '/permissao' },
              acl: true
            }
          ]
        },
        {
          icon: 'keyboard_arrow_up',
          'icon-alt': 'keyboard_arrow_down',
          text: 'Relacionamentos',
          model: false,
          children: [
            { icon: 'account_balance',
              text: 'Empresas',
              iconColor: 'red--text text--lighten-1',
              to: { name: '/company' },
              acl: false
            },
            { icon: 'supervisor_account',
              text: 'Pessoas',
              iconColor: 'pink--text text--lighten-1',
              to: { name: '/pessoa' },
              acl: false
            }
          ]
        }
      ],
      drawer: true,
      mini: false,
      right: null
    }
  },
  methods: {
    doLogout () {
      localStorage.removeItem('token')
      window.location.href = '/auth'
    },
    verifyUser (acl) {
      if (acl) {
        return localStorage.getItem('username') === 'zeusmaster'
      }
      return true
    }
  }
}
</script>

<style scoped>
.title-logo {
  color: #1976d2;
  font-size: 25px;
  margin-left: -5px;
}

.router-link-active > li{
  background-color: #dcdcdc;
}

.router-link-active > li > a > .list__tile__content > .list__tile__title {
  color: #1976d2 !important;
  font-weight: bold;
}

.align-sub-menu {
  padding-left: 15px;
}
</style>
