<template>
  <div  id="user-administration">
    <v-layout>
      <v-flex xs12>
        <form class="" @submit.prevent="resetPassword" novalidate>
          <fieldset>
            <legend>Dados Gerais</legend>
            <v-layout row wrap>
              <v-flex xs6>
                <v-text-field
                  name="login"
                  label="Login"
                  v-model="collaborator.userName"
                  disabled>
                </v-text-field>
              </v-flex>
              <v-flex xs6 class="btn-user-administration">
                <v-btn primary
                  light class="btn--light-flat-pressed z-depth-2 white--text"
                  type="submit">
                  Resetar Senha
                </v-btn>
                <!-- <v-btn primary light class="btn--light-flat-pressed z-depth-2">Bloquear</v-btn> -->
              </v-flex>
            </v-layout>
            <v-layout row wrap>
              <v-flex xs6 v-if="password">
                <span class="password-text">Nova senha: {{ password }}</span>
              </v-flex>
            </v-layout>
          </fieldset>
        </form>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 class="grid-profile">
        <h6>Perfis adicionados ao Usuário</h6>
        <v-data-table
            v-bind:headers="headers"
            :items="items"
            v-bind:search="search"
            hide-actions
            class="elevation-1"
          >
          <template slot="items" scope="props">
            <td class="text-xs-right">{{ props.item._embedded.planProfile._embedded.profile.name }}</td>
            <td class="text-xs-right">{{ props.item._embedded.planProfile._embedded.profile.description }}</td>
            <td class="text-xs-right">
                <v-btn v-if="props.item.status" icon="icon" @click.native="deleteProfile(props.item.id, props.item._embedded.planProfile.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                  <v-icon class="red--text">delete</v-icon>
                </v-btn>
            </td>
          </template>
        </v-data-table>
        <!-- Pagination -->
        <v-flex xs6 offset-xs5>
          <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
        </v-flex>
                      <!-- modal Cadastro -->
              <v-dialog v-model="modalProfile" width="400" class="right" persistent>
                <v-btn primary fab dark
                  slot="activator">
                  <v-icon class="white--text">add</v-icon>
                </v-btn>
                <v-card>
                  <v-card-row class="primary">
                    <v-card-title class="white--text text-xs-center">Perfil</v-card-title>
                  </v-card-row>
                  <v-card-row>
                    <v-card-text>
                      <v-container fluid>
                        <v-row>
                          <v-select
                            v-bind:items="profiles"
                            v-model="permission.profile"
                            label="Perfil"
                            light
                            single-line
                            auto
                            required
                          />
                        </v-row>
                      </v-container>
                    </v-card-text>
                  </v-card-row>
                  <v-card-row actions>
                    <v-btn class="blue--text darken-1" flat
                      @click.native="modalProfile = false;">Fechar</v-btn>
                    <v-btn primary class="white--text darken-1"
                        @click.native="registerProfile()">
                        Salvar
                      </v-btn>
                  </v-card-row>
                </v-card>
              </v-dialog>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
    import Util from '../../../../../mixin/Util'
    export default {
      name: 'user-administration',
      mixins: [Util],
      props: {
        idCollaborator: {
          type: String,
          required: true
        },
        idPlan: {
          type: String,
          required: true
        }
      },
      data () {
        return {
          collaborator: {
            userName: null
          },
          permission: {
            profile: '',
            functionality: ''
          },
          headers: [
            { text: 'Nome' },
            { text: 'Descrição' },
            { text: 'Ações', left: false, sortable: false }
          ],
          profiles: [],
          modalDialog: false,
          search: null,
          items: [],
          page: 1,
          totalItems: null,
          loading: true,
          modalProfile: false,
          status: true,
          password: null
        }
      },
      methods: {
        registerProfile () {
          this.loading = true
          this.$http.post(process.env.API_URL + 'authorization',
            { collaborator: this.idCollaborator, planProfile: this.permission.profile.planProfile }
          ).then(response => {
            this.loading = false
            this.fetchAllProfile()
            this.modalProfile = false
            this.fetchAllCollaboratorProfile()
          }, response => {
          })
        },
        fetchAllProfile () {
          this.$http.get(process.env.API_URL + 'plan/' + this.idPlan + '/profile', { page: this.page }).then(response => {
            this.profiles = response.body._embedded.plan_profile
            for (this.i = 0; this.i < response.body._embedded.plan_profile.length; this.i++) {
              this.profiles[this.i].text = response.body._embedded.plan_profile[this.i]._embedded.profile.name
              this.profiles[this.i].value = response.body._embedded.plan_profile[this.i]._embedded.profile.name
              this.profiles[this.i].planProfile = response.body._embedded.plan_profile[this.i].id
            }
          }, response => {
            this.alert = true
            this.activeClass = false
            this.text = 'Falha ao recuperar perfil.'
          })
        },
        fetchAllCollaboratorProfile () {
          this.$http.get(process.env.API_URL + 'authorization?collaborator=' + this.idCollaborator + '&status=true',
            { collaborator: this.idCollaborator, status: true }
          ).then(response => {
            this.items = response.body._embedded.authorization
            this.totalItems = response.body.page_count
          }, response => {
            this.alert = true
            this.activeClass = false
            this.text = 'Falha ao recuperar perfis do colaborador.'
          })
        },
        paginate () {
          this.fetchAllProfile()
        },
        deleteProfile (id, idPlanProfile) {
          this.$http.put(process.env.API_URL + 'authorization/' + id,
            { collaborator: this.idCollaborator, planProfile: idPlanProfile }
            ).then(response => {
              this.fetchAllCollaboratorProfile()
            }, response => {

            })
        },
        resetPassword () {
          this.$http.patch(process.env.API_URL + 'oversight/collaborator/' + this.idCollaborator,
            this.collaborator).then(response => {
              this.password = response.body.password
            }, response => {
              console.log(response)
            })
        },
        getCollaborator () {
          this.$http.get(process.env.API_URL + 'oversight/collaborator/' + this.idCollaborator).then(function (response) {
            this.collaborator.userName = response.body.userName
            this.resetPassword()
          })
        }
      },
      mounted () {
        this.fetchAllProfile()
        this.fetchAllCollaboratorProfile()
        this.getCollaborator()
      }
    }
</script>
<style scoped>
  .password-text {
    font-size: 20px;
    font-weight: bold;
  }

  .grid-profile {
    margin-top: 20px;
  }

  .grid-profile h6 {
    font-size: 18px;
    color: #1976d2;
  }

  .btn-user-administration {
    margin-top: 8px;
  }

  .btn-user-administratiom button {
    background-color: green !important;
  }
</style>
