<template>
    <v-container fluid id="dados-pessoa">
        <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
            <v-data-table
                v-bind:headers="headers"
                :items="items"
                v-bind:search="search"
                hide-actions
                class="elevation-1"
            >
            <template slot="items" scope="props">
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.phone }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left">{{ props.item._embedded.typeContact.name }}</td>
                <td class="text-xs-right">
                    <v-btn v-if="props.item.status" icon="icon" @click.native="deleteContact(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                        <v-icon class="red--text">delete</v-icon>
                    </v-btn>
                    <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                        <v-icon class="grey--text">delete</v-icon>
                    </v-btn>

                    <v-btn icon="icon" class="right" slot="activator"
                           @click.native.stop="fetchContact(props.item.id)"
                           v-tooltip:top="{ html: 'Editar Contato' }"
                    >
                        <v-icon class="blue--text">edit</v-icon>
                    </v-btn>

                </td>
            </template>
            </v-data-table>

            <!-- Pagination -->
            <v-flex xs6 offset-xs5>
                <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
            </v-flex>

            <!-- modal Cadastro -->
            <v-dialog v-model="modalDialog" width="600" class="right">
                <v-btn primary floating fab dark style="margin-top: 32px;"
                   slot="activator" @click.native="clearContact()"
                   v-tooltip:top="{ html: 'Cadastrar Contato' }"
                >
                <v-icon class="white--text">add</v-icon>
                </v-btn>
                <v-card>
                    <v-card-title class="headline blue--text">Contato</v-card-title>
                    <div class="spinner" v-if="contact.id && loading">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                    </div>
                    <v-card-text>
                        <v-container fluid>
                            <v-layout>
                                <v-flex xs12>
                                    <v-text-field
                                        name="nome"
                                        label="Nome Completo"
                                        v-model="contact.name"
                                        v-bind:rules="rules.nome"
                                        v-validate="{ rules: {required: true, min: 3, max: 150}}"
                                        maxlength="150"
                                        required
                                    >
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex xs12>
                                    <v-text-field
                                        name="email"
                                        label="E-mail"
                                        v-model="contact.email"
                                        v-bind:rules="rules.email"
                                        v-validate="'required|email'"
                                        maxlength="150"
                                        required
                                    >
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex xs12>
                                    <v-text-field
                                        name="telefone"
                                        label="Telefone"
                                        v-model="contact.phone"
                                        max="11"
                                        v-bind:rules="rules.telefone"
                                        v-validate="{ rules: {required: true}}"
                                        required
                                        v-mask-phone.br
                                    >
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex xs12>
                                    <v-select
                                            v-bind:items="typeContact"
                                            v-model="contact.typeContact"
                                            label="Tipo"
                                            auto
                                    ></v-select>
                                </v-flex>
                            </v-layout>
                            <v-layout>
                                <v-flex xs12 v-if="contact.id">
                                    <v-switch :label="contact.inActive | formatStatus" primary v-model="contact.inActive" light />
                                </v-flex>
                            </v-layout>
                        </v-container>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-layout>
                            <v-btn class="blue--text darken-1" flat
                                   @click.native="modalDialog = false">Fechar</v-btn>
                            <v-btn primary class="white--text darken-1"
                                   @click.native="validateForm"
                                   v-bind:loading="loading"
                                   v-on:click.native="loader = 'loading'"
                                   v-tooltip:top="{ html: 'Cadastrar Contato' }"
                                   v-bind:disabled="loading"
                                   v-if="!contact.id">
                                Salvar
                            </v-btn>
                            <v-btn class="white--text darken-1" primary
                                   @click.native="validateForm"
                                   v-bind:loading="loading"
                                   v-on:click.native="loader = 'loading'"
                                   v-bind:disabled="loading"
                                   v-tooltip:top="{ html: 'Editar Contato' }"
                                   v-if="contact.id">
                                Editar
                            </v-btn>
                        </v-layout>
                    </v-card-actions>
                </v-card>
            </v-dialog>

    </v-container>
</template>

<script>
    import _ from 'lodash'
    import moment from 'moment'
    import { Validator } from 'vee-validate'
    const validator = new Validator()
    validator.installDateTimeValidators(moment)
    export default {
      inject: ['$validator'],
      name: 'pessoa-contato',
      props: {
        idPessoa: {
          required: true
        }
      },
      data () {
        return {
          contact: {
            name: null,
            email: null,
            phone: null,
            inActive: true,
            person: null,
            typeContact: null
          },
          rules: {
            nome: [],
            email: [],
            telefone: []
          },
          headers: [
            { text: 'Nome', left: true, value: 'name' },
            { text: 'Telefone', left: true, sortable: false },
            { text: 'E-mail', left: true, value: 'email' },
            { text: 'Tipo', left: true, value: 'type' },
            { text: 'Ação', left: false, sortable: false }
          ],
          search: null,
          items: [],
          typeContact: [],
          page: 1,
          action: [],
          contactSelect: [],
          totalItems: null,
          modalDialog: false,
          loading: false
        }
      },
      methods: {
        paginate () {
          this.fetchAllContact()
        },
        fetchAllType () {
          this.$http.get(process.env.API_URL + 'type-contact', { page_type: '-1' }).then(function (response) {
            let i
            this.typeContact = response.body._embedded.type_contact
            for (i = 0; i < response.body._embedded.type_contact.length; i++) {
              this.typeContact[i].text = response.body._embedded.type_contact[i].name
              this.typeContact[i].value = response.body._embedded.type_contact[i].id
            }
          })
        },
        validateForm () {
          this.$validator.validateAll()
            .then(() => {
              if (this.contact.id) {
                this.editContact(this.contact.id)
              } else {
                this.registerContact()
              }
            })
            .catch(err => {
              _.forEach(this.rules, (val, key) => {
                this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
              })
              console.log(err)
            })
        },
        registerContact () {
          this.loading = true
          this.contact.person = this.idPessoa
          this.contact.phone = this.justNumber(this.contact.phone)
          this.$http.post(process.env.API_URL + 'person/' + this.idPessoa + '/contact',
            this.contact
          ).then(response => {
            this.loading = false
            this.modalDialog = false
            this.$toasted.success('Contato cadastrado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
            this.contact = {}
            this.fetchAllContact()
            this.clearContact()
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        justNumber (strParam) {
          if (strParam) {
            return strParam.replace(/[^\d]/g, '')
          }
          return null
        },
        fetchAllContact () {
          this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/contact', { params: { page: this.page } }).then(function (response) {
            this.items = response.body._embedded.person_contact
            this.totalItems = response.body.page_count
            this.loading = false
            let i
            this.contactSelect = response.body._embedded.person_contact
            for (i = 0; i < response.body._embedded.person_contact; i++) {
              this.contactSelect[i].text = response.body._embedded.contact[i].name
              this.contactSelect[i].value = response.body._embedded.contact[i].id
            }
          })
        },
        fetchContact (id) {
          this.loading = true
          this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/contact/' + id).then(function (response) {
            this.popularContact(response.body)
            this.modalDialog = true
            this.loading = false
          })
        },
        popularContact (objParams) {
          this.contact = {
            name: objParams.name,
            email: objParams.email,
            phone: objParams.phone,
            id: objParams.id,
            inActive: objParams.status,
            typeContact: objParams._embedded.typeContact.id
          }
        },
        editContact (id) {
          this.loading = true
          this.contact.typeContact = Number.isInteger(this.contact.typeContact) ? this.contact.typeContact : this.contact.typeContact
          this.contact.phone = this.justNumber(this.contact.phone)
          this.$http.put(process.env.API_URL + 'person/' + this.idPessoa + '/contact/' + id, this.contact).then(response => {
            this.loading = false
            this.fetchAllContact()
            this.clearContact()
            this.modalDialog = false
            this.$toasted.success('Contato editado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
            this.contact = {}
          }, response => {
            this.loading = false
            this.$toasted.success('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        deleteContact (id) {
          this.$http.delete(process.env.API_URL + 'person/' + this.idPessoa + '/contact/' + id, this.contact).then(function (response) {
            this.loading = false
            this.fetchAllContact()
            this.$toasted.success('Contato desativado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          }, response => {
            this.loading = false
            this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        clearContact () {
          this.contact = {
            name: null,
            email: null,
            phone: null,
            inActive: true,
            person: null,
            typeContact: null
          }
        }
      },
      mounted () {
        this.fetchAllType()
        this.fetchAllContact()
      }
    }
</script>
