<template>
    <v-container fluid id="pessoa-dados">
        <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
       <v-layout>
           <v-flex xs12>
               <fieldset>
                   <legend>Dados Gerais</legend>
                    <v-layout>
                       <v-flex xs6>
                           <v-text-field
                               name="nome"
                               label="Nome"
                               v-model="person.name"
                               disabled
                            >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs3>
                           <v-text-field
                               name="cpf"
                               label="CPF"
                               v-model="person.cpf"
                               v-mask-cpf
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs3>
                           <v-text-field
                               name="rg"
                               label="RG"
                               v-model="person.rg"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs3>
                           <v-text-field
                               name="rgOrganExpedition"
                               label="Orgão de Expedição"
                               v-model="person.rgOrganExpedition"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs3>
                           <v-text-field
                               name="dtExpedition"
                               label="Data Expedição"
                               v-mask-date.br
                               v-model="person.dtExpedition"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs3>
                           <v-text-field
                               name="naturalness"
                               label="Naturalidade"
                               v-model="person.naturalness"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs3>
                           <v-text-field
                               name="cidade"
                               label="Cidade"
                               v-model="person.city"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs3>
                           <v-text-field
                               name="data-nascimento"
                               label="Data Nascimento"
                               v-model="person.dtBirth"
                               v-mask-date.br
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs6>
                           <v-text-field
                               name="email"
                               label="E-mail"
                               type="email"
                               v-model="person.email"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                       <v-flex xs3>
                           <v-select
                               v-bind:items="sex"
                               v-model="person.sex"
                               label="Sexo:"
                               light
                               single-line
                               auto
                               disabled
                           />
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs4>
                           <v-text-field
                               name="telefone"
                               label="Telefone"
                               v-mask-phone.br
                               append-icon="phone"
                               v-model="person.phone"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                       <v-flex xs4>
                           <v-text-field
                               name="telefone_secundary"
                               label="Telefone secundário"
                               v-mask-phone.br
                               append-icon="perm_phone_msg"
                               max="11"
                               v-model="person.phoneSecundary"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                       <v-flex xs4>
                           <v-text-field
                               name="whatsapp"
                               label="Whatsapp"
                               v-mask-phone.br
                               append-icon="smartphone"
                               max="11"
                               v-model="person.whatsapp"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs6>
                           <v-text-field
                               name="facebook"
                               label="Facebook"
                               v-model="person.facebook"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                       <v-flex xs6>
                           <v-text-field
                               name="skype"
                               label="Skype"
                               v-model="person.skype"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                       <!--<v-flex xs12>-->
                           <!--<v-switch :label="person.status | formatStatus" primary v-model="person.status" light />-->
                       <!--</v-flex>-->
                   </v-layout>
               </fieldset>

               <fieldset>
                   <legend>Dados de Endereço</legend>
                   <v-layout>
                       <v-flex xs6>
                           <v-text-field
                               name="logradouro"
                               label="Logradouro"
                               v-model="person.description"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs2>
                           <v-text-field
                                   name="numero"
                                   label="Número"
                                   v-model="person.number"
                                   disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs4>
                           <v-text-field
                               name="bairro"
                               label="Bairro"
                               v-model="person.neighborhood"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs4>
                           <v-text-field
                               name="cidade"
                               label="Cidade"
                               v-model="person.city_uf"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs4>
                           <v-text-field
                               name="uf"
                               label="UF"
                               v-model="person.uf"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>

                       <v-flex xs4>
                           <v-text-field
                               name="cep"
                               label="CEP"
                               v-mask="'##.###-###'"
                               v-model="person.cep"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                    </v-layout>
                    <v-layout>
                       <v-flex xs12>
                           <v-text-field
                               name="complemento"
                               label="Complemento"
                               v-model="person.complement"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                   </v-layout>
               </fieldset>

               <fieldset>
                   <legend>Complemento</legend>
                   <v-layout>
                       <v-flex xs12>
                           <v-text-field
                               name="observacoes"
                               label="Observações"
                               v-model="person.note"
                               disabled
                           >
                           </v-text-field>
                       </v-flex>
                   </v-layout>
               </fieldset>
           </v-flex>
       </v-layout>
    </v-container>
</template>
<script>
    const moment = require('moment')
    require('moment/locale/br')
    export default {
      inject: ['$validator'],
      name: 'pessoa-dados',
      props: {
        idPessoa: {
          type: String,
          required: true
        }
      },
      data () {
        return {
          person: {
            id: null,
            name: '',
            email: '',
            cpf: '',
            rg: '',
            dtBirth: null,
            status: null,
            rgOrganExpedition: '',
            dtExpedition: null,
            naturalness: '',
            city: '',
            phone: '',
            account: 1,
            phoneSecundary: null,
            facebook: null,
            skype: null,
            website: null,
            description: null,
            district: null,
            city_uf: null,
            uf: null,
            cep: null,
            complement: null,
            note: null,
            whatsapp: null,
            neighborhood: null,
            sex: null,
            number: null
          },
          sex: [
            {text: 'Masculino', value: 'M'},
            {text: 'Feminino', value: 'F'}
          ],
          loading: true
        }
      },
      mounted () {
        let id = this.idPessoa
        this.getPerson(id)
      },
      methods: {
        getPerson (id) {
          this.$http.get(process.env.API_URL + 'person/' + id).then(function (response) {
            this.popularPerson(response.body)
            this.loading = false
          })
        },
        popularPerson (objParams) {
          this.person.id = objParams.id
          this.person.name = objParams.name
          this.person.email = objParams.email
          this.person.cpf = objParams.cpf
          this.person.rg = objParams.rg
          this.person.dtBirth = moment(objParams.dateBirth.date).format('DD/MM/YYYY')
          this.person.status = objParams.status
          this.person.rgOrganExpedition = objParams.rgOrganExpedition
          this.person.dtExpedition = moment(objParams.dateExpedition.date).format('DD/MM/YYYY')
          this.person.naturalness = objParams.naturalness
          this.person.city = objParams.city
          this.person.phone = objParams.phone
          this.person.account = objParams.account
          this.person.note = objParams.note
          this.person.phoneSecundary = objParams.phoneSecundary
          this.person.facebook = objParams.facebook
          this.person.website = objParams.website
          this.person.skype = objParams.skype
          this.person.whatsapp = objParams.whatsapp
          this.person.description = objParams._embedded ? objParams._embedded.address.description : ''
          this.person.district = objParams._embedded ? objParams._embedded.address.district : ''
          this.person.city_uf = objParams._embedded ? objParams._embedded.address.city : ''
          this.person.uf = objParams._embedded ? objParams._embedded.address.uf : ''
          this.person.cep = objParams._embedded ? objParams._embedded.address.cep : ''
          this.person.complement = objParams._embedded ? objParams._embedded.address.complement : ''
          this.person.neighborhood = objParams._embedded ? objParams._embedded.address.neighborhood : ''
          this.person.number = objParams._embedded ? objParams._embedded.address.number : ''
          this.person.sex = objParams.sex
        }
      }
    }
</script>
