<template>
    <v-container fluid id="person-history">
        <v-layout>
            <v-flex xs12="xs12">
            <v-card>
                <!-- grid historico -->
                <v-card-text>
                    <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
                    <v-layout>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Codigo"
                                    v-model="process.id"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Tipo"
                                    v-model="process.type"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Autor"
                                    v-model="process.user"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Contato"
                                    v-model="process.contact"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Iniciado em"
                                    v-model="process.dtStart"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                        <v-flex xs2>
                            <v-text-field
                                    name="input-1"
                                    label="Finalizado em"
                                    v-model="process.dtFinal"
                                    disabled>
                            </v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-data-table
                            v-bind:headers="headersHistory"
                            :items="itemsHistory"
                            v-bind:search="searchHistory"
                            hide-actions
                            class="elevation-1">
                        <template slot="items" scope="propsHistory">
                            <td class="text-xs-left">{{ propsHistory.item.id }}</td>
                            <td class="text-xs-left">{{ propsHistory.item._embedded.action.name }}</td>
                            <td class="text-xs-left">{{ propsHistory.item._embedded.personProcess._embedded.personContact.name }}</td>
                            <td class="text-xs-left" v-html="propsHistory.item.description.substr(0, 80)"></td>
                            <td class="text-xs-left">{{ dateFormatBr(propsHistory.item.register.date) }}</td>
                            <td class="text-xs-left">{{ JSON.parse(propsHistory.item.user).userName }}</td>
                            <td class="text-xs-right">
                            <v-btn icon="icon" class="right" slot="activator"
                                v-tooltip:left="{ html: 'Visualizar historico' }"
                                @click.native="fetchHistory(propsHistory.item.id)">
                            <v-icon class="blue--text">remove_red_eye</v-icon>
                            </v-btn>
                            </td>
                        </template>
                    </v-data-table>

                    <!-- Pagination -->
                    <v-flex xs6 offset-xs5>
                        <v-pagination v-if="totalItemshistory > 0" v-bind:length.number="totalItemshistory" v-model="pagenationHistory" class="center" @click.native="paginate()"/>
                    </v-flex>
                </v-card-text>
            </v-card>

            <!-- modal Cadastro -->
            <v-dialog v-model="modalHistory" width="900" class="right" persistent>
                <v-btn primary fab dark
                       slot="activator"
                       v-if="pageHistory && process.dtFinal ===  null"
                       class="right"
                       style="margin-top: 8px;"
                       v-tooltip:top="{ html: 'Cadastrar Historico' }"
                >
                    <v-icon class="white--text">add</v-icon>
                </v-btn>
                <v-card>
                  <v-card-title class="headline blue--text">Novo histórico</v-card-title>
                    <v-card-text>
                      <v-container fluid>
                        <v-layout>
                            <v-flex xs3>
                              <v-select
                                v-bind:items="action"
                                v-model="history.action"
                                label="Ação"
                                auto
                              ></v-select>
                            </v-flex>
                            <v-flex xs4>
                              <v-select
                                v-bind:items="contactSelect"
                                v-model="history.contact"
                                label="Contato"
                                auto
                              ></v-select>
                            </v-flex>
                            <v-flex xs4 v-if="history.action == 2">
                              <v-text-field
                                name="callCenter"
                                label="Central Telefônica"
                                v-model="history.callCenter"
                              >
                              </v-text-field>
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex xs12>
                                <quill-editor ref="myTextEditor"
                                  v-model="descriptionHistory"
                                  :options="editorOption"
                                >
                                </quill-editor>
                            </v-flex>
                        </v-layout>
                      </v-container>
                    </v-card-text>
                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <layout>
                          <v-btn class="blue--text darken-1" flat
                                 @click.native="modalHistory = false">Fechar</v-btn>
                          <v-btn primary class="white--text darken-1"
                                 v-bind:loading="loading"
                                 v-on:click.native="loader = 'loading'"
                                 v-bind:disabled="loading"
                                 v-tooltip:top="{ html: 'Cadastrar' }"
                                 @click.native="registerHistory()">
                              Salvar
                          </v-btn>
                      </layout>
                    </v-card-actions>
                </v-card>
            </v-dialog>

                <!-- modal Visualizar -->
                <v-dialog v-model="modalViewHistory" width="800" class="right" persistent>
                    <v-card>
                        <v-card-row class="primary">
                            <v-card-title class="white--text text-xs-center">Visualizar histórico</v-card-title>
                        </v-card-row>
                        <div class="spinner" v-if="loading">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <v-card-row>
                            <v-card-text>
                                <v-container fluid>
                                    <v-layout>
                                        <v-flex xs4>
                                            <strong>Ação:</strong>
                                            <br />
                                            <span v-text="history.action"></span>
                                        </v-flex>
                                        <v-flex xs4>
                                            <strong>Contato:</strong>
                                            <br />
                                            <span v-text="history.contact"></span>
                                        </v-flex>
                                        <v-flex xs4 v-if="history.callCenter != ''">
                                            <strong>Central telefônica:</strong>
                                            <br />
                                            <span v-text="history.callCenter"></span>
                                        </v-flex>
                                        <v-flex xs12>
                                            <br />
                                            <strong>Descrição:</strong>
                                            <br />
                                            <div>
                                                <span v-html="history.description"></span>
                                            </div>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>
                        </v-card-row>
                        <v-card-row actions>
                            <v-btn class="blue--text darken-1" flat
                                   @click.native="modalViewHistory = false">Fechar</v-btn>
                        </v-card-row>
                    </v-card>
                </v-dialog>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
const moment = require('moment')
require('moment/locale/br')
export default {
  inject: ['$validator'],
  name: 'person-history',
  data () {
    return {
      loading: false,
      process: {
        id: null,
        name: null,
        type: null,
        user: null,
        contact: null,
        dtStart: null,
        dtFinal: null
      },
      history: {
        contact: null,
        description: null,
        action: null,
        idProcess: null,
        person: null,
        personProcess: null,
        callCenter: null
      },
      headersHistory: [
        { text: 'Cod', left: true, sortable: false },
        { text: 'Ações', left: true, sortable: false },
        { text: 'Contato', left: true, sortable: false },
        { text: 'Descrição', left: true, sortable: false },
        { text: 'Data', left: true, sortable: false },
        { text: 'Autor', left: true }
      ],
      descriptionHistory: null,
      itemsHistory: [],
      searchHistory: null,
      type: [],
      action: [],
      totalItemshistory: null,
      pageHistory: true,
      items: [],
      content: '<h2>Example</h2>',
      editorOption: {
        height: '200'
      },
      modalHistory: false,
      contactSelect: [],
      pagenationHistory: 1,
      modalViewHistory: false
    }
  },
  props: {
    idPessoa: {
      required: true
    },
    idProcess: {
      required: true
    }
  },
  mounted () {
    this.fetchProcess(this.idProcess)
    this.fetchAllAction()
    this.fetchAllContact()
    this.fetchAllHistory()
  },
  methods: {
    fetchProcess (idProcess) {
      this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + idProcess).then(function (response) {
        this.process = response.body
        this.popularProcess(response.body)
        this.process.start.date = this.dateFormatBr(this.process.start.date)
        this.process.finalized = {date: this.process.finalized ? this.dateFormatBr(this.process.finalized.date) : ''}
      })
    },
    popularProcess (objParams) {
      if (objParams.finalized) {
        objParams.finalized = moment(objParams.finalized.date).format('DD/MM/YYYY')
      }
      this.process.dtStart = this.dateFormatBr(this.process.start.date)
      this.process.type = objParams._embedded.type.name
      this.process.contact = objParams._embedded.personContact.name
      this.process.id = objParams.id
      this.process.dtFinal = objParams.finalized
      this.process.user = JSON.parse(objParams.user).userName
    },
    dateFormatBr (date) {
      return moment(date).format('DD/MM/YYYY')
    },
    fetchAllAction () {
      this.$http.get(process.env.API_URL + 'action', { page_action: '-1' }).then(function (response) {
        let i
        this.action = response.body._embedded.action
        for (i = 0; i < response.body._embedded.action.length; i++) {
          this.action[i].text = response.body._embedded.action[i].name
          this.action[i].value = response.body._embedded.action[i].id
        }
      })
    },
    fetchAllContact () {
      this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/contact', { params: { page: this.page } }).then(function (response) {
        this.itemsContatos = response.body._embedded.person_contact
        this.totalItems = response.body.page_count
        this.loading = false
        let i
        this.contactSelect = response.body._embedded.person_contact
        for (i = 0; i < response.body._embedded.person_contact.length; i++) {
          this.contactSelect[i].text = response.body._embedded.person_contact[i].name
          this.contactSelect[i].value = response.body._embedded.person_contact[i].id
        }
      })
    },
    registerHistory () {
      this.loading = true
      this.history.person = this.idPessoa
      this.history.personProcess = this.idProcess
      this.history.description = this.descriptionHistory
      this.$http.post(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + this.idProcess + '/history',
        this.history
      ).then(response => {
        this.history.description = null
        this.fetchAllHistory(this.idProcess)
        this.history = {}
        this.$toasted.success('Historico cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
        this.modalHistory = false
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    clearHistory () {
      this.history = {
        contact: null,
        description: null,
        action: null
      }
    },
    fetchAllHistory () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + this.idProcess + '/history', { params: { page: this.page } }).then(function (response) {
        this.itemsHistory = response.body._embedded.person_history
        this.totalItemshistory = response.body.page_count
        this.loading = false
      })
    },
    fetchHistory (idHistorico) {
      this.loading = true
      this.modalViewHistory = true
      this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + this.idProcess + '/history/' + idHistorico).then(function (response) {
        this.popularHistory(response.body)
        this.loading = false
      })
    },
    popularHistory (objParams) {
      this.history.description = objParams.description
      this.history.action = objParams._embedded.action.name
      this.history.contact = objParams._embedded.personProcess._embedded.personContact.name
      this.history.callCenter = objParams.callCenter
    }
  }
}
</script>
<style scoped>
    .dialog>.card .card__row--actions {
        margin-top: 35px !important;
        padding-right: 20px;
    }
</style>
