<template>
    <v-container fluid id="person-process">
        <div class="spinner" v-if="loading">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <v-layout>
            <v-flex xs12="xs12" v-if="isProcess">
                <v-data-table
                        v-bind:headers="headersProcess"
                        :items="items"
                        hide-actions
                        class="elevation-1"
                >
                    <template slot="items" scope="props">
                        <td class="text-xs-left">{{ props.item.id }}</td>
                        <td class="text-xs-left">{{ props.item._embedded.type.name }}</td>
                        <td class="text-xs-left">{{ JSON.parse(props.item.user).userName }}</td>
                        <td class="text-xs-left">{{ props.item._embedded.personContact.name }}</td>
                        <td class="text-xs-left">{{ dateFormatBr(props.item.start.date) }}</td>
                        <td class="text-xs-left">{{ props.item.finalized? dateFormatBr(props.item.finalized.date) : '' }}</td>
                        <!-- <td class="text-xs-right">{{ props.item.naturalness }}</td> -->
                        <td class="text-xs-left">
                            {{ props.item.status | formatStatus }}
                        </td>

                        <td class="text-xs-right">
                            <v-btn icon="icon" class="right" slot="activator"
                                   @click.native="actionModalProcess(props.item.id)"
                                   v-tooltip:left="{ html: 'Editar Processo' }"
                            >
                                <v-icon class="blue--text">edit</v-icon>
                            </v-btn>
                            <v-btn icon="icon" class="right" slot="activator"
                                   @click.native="actionModalHistory(props.item.id)"
                                   v-tooltip:left="{ html: 'Historico' }"
                            >
                                <v-icon class="blue--text">history</v-icon>
                            </v-btn>
                        </td>

                    </template>
                </v-data-table>

                <!-- Pagination -->
                <v-flex xs6 offset-xs5>
                    <v-pagination v-if="totalItemsProcess > 0" v-bind:length.number="totalItemsProcess" v-model="page" class="center" @click.native="paginate()"/>
                </v-flex>

                <!-- modal Cadastro -->
                <v-dialog v-model="modalProcess" width="400" class="right" persistent>
                    <v-btn primary floating fab dark
                           v-tooltip:top="{ html: 'Cadastrar Processo' }"
                           slot="activator">
                        <v-icon class="white--text">add</v-icon>
                    </v-btn>
                    <v-card>
                        <v-card-title class="headline blue--text">Processo</v-card-title>
                        <div class="spinner" v-if="process.id && loading">
                            <div class="bounce1"></div>
                            <div class="bounce2"></div>
                            <div class="bounce3"></div>
                        </div>
                        <v-card-text>
                            <v-container fluid>
                                <v-layout>
                                    <v-flex xs12>
                                        <v-select
                                                v-bind:items="typeContact"
                                                v-model="process.typeContact"
                                                label="Tipo"
                                                auto
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex xs12>
                                        <v-select
                                                v-bind:items="itemsContatos"
                                                v-model="process.contact"
                                                label="Contato"
                                                auto
                                        ></v-select>
                                    </v-flex>
                                </v-layout>
                                <v-layout>
                                    <v-flex xs12>
                                        <v-text-field
                                                name="input-1"
                                                label="Data finalização"
                                                v-model="process.finalized"
                                                v-mask-date.br>
                                        </v-text-field>
                                    </v-flex>
                                </v-layout>
                            </v-container>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-layout>
                                <v-btn class="blue--text darken-1" flat
                                       @click.native="modalProcess = false;">Fechar</v-btn>
                                <v-btn primary class="white--text darken-1"
                                       @click.native="registerProcess()"
                                       v-tooltip:top="{ html: 'Cadastrar Processo' }"
                                       v-if="!process.id">
                                    Salvar
                                </v-btn>
                                <v-btn class="white--text darken-1" primary
                                       @click.native="editProcess()"
                                       v-tooltip:top="{ html: 'Editar Processo' }"
                                       v-if="process.id">
                                    Editar
                                </v-btn>
                            </v-layout>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-flex>
            <v-flex xs12="xs12" v-if="!isProcess">
                <v-btn primary fab small dark
                       @click.native="callProcess"
                       v-tooltip:right="{ html: 'Retornar ao(s) Processo(s)' }"
                >
                    <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
                <span style="font-size: 20px; color: #1976d2;">Processos > históricos</span>
                <pessoa-history :idPessoa="idPessoa" :idProcess="idProcess"></pessoa-history>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
  const moment = require('moment')
  require('moment/locale/br')
  import PessoaHistory from './HistoryPerson'
  export default {
    inject: ['$validator'],
    name: 'person-process',
    props: {
      idPessoa: {
        type: [String, Number, Object],
        required: true
      }
    },
    data () {
      return {
        title: 'Processo',
        loading: false,
        modalProcess: false,
        headersProcess: [
          { text: 'Cod', left: true, sortable: false },
          { text: 'Tipo', left: true, sortable: false },
          { text: 'Autor', left: true, sortable: false },
          { text: 'Contato', left: true, sortable: false },
          { text: 'Iniciado em', left: true, sortable: false },
          { text: 'Finalizado em', left: true, sortable: false },
          { text: 'Status', left: true, sortable: false },
          { text: 'Ações' }
        ],
        process: {
          typeContact: null,
          contact: null,
          finalized: null,
          id: null,
          type: null,
          person: null
        },
        items: [],
        totalItemsProcess: null,
        page: 1,
        typeContact: [],
        contactSelect: [],
        itemsContatos: [],
        isProcess: true,
        alert: false,
        idProcess: null
      }
    },
    created () {
      this.fetchAllContact()
    },
    mounted () {
      this.fetchAllProcess()
      this.fetchAllType()
//      this.fetchAllContact()
    },
    methods: {
      fetchAllProcess () {
        this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/process', { params: { page: this.page } }).then(function (response) {
          this.items = response.body._embedded.person_process
          this.totalItemsProcess = response.body.page_count
          this.loading = false
        })
      },
      dateFormatBr (date) {
        return moment(date).format('DD/MM/YYYY')
      },
      paginate () {
        this.fetchAllProcess()
      },
      actionModalProcess (idProcess) {
        this.modalProcess = true
        this.loading = true
        this.fetchProcess(idProcess)
        this.fetchAllContact()
      },
      fetchProcess (idProcess) {
        this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + idProcess).then(function (response) {
          this.popularProcess(response.body)
          this.loading = false
        })
      },
      popularProcess (objParams) {
        if (objParams.finalized) {
          objParams.finalized = moment(objParams.finalized.date).format('DD/MM/YYYY')
        }
        this.process = {
          typeContact: objParams._embedded.type.id,
          contact: objParams._embedded.personContact.id,
          finalized: objParams.finalized,
          id: objParams.id
        }
      },
      registerProcess () {
        this.process.person = this.idPessoa
        this.$http.post(process.env.API_URL + 'person/' + this.idPessoa + '/process',
          this.process
        ).then(response => {
          this.fetchAllProcess()
          this.clearProcess()
          this.modalProcess = false
          this.$toasted.success('Processo cadastrado com sucesso.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.process = {}
        }, response => {
          this.loading = false
          this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
        })
      },
      editProcess () {
        this.process.type = Number.isInteger(this.process.typeContact) ? this.process.typeContact : this.process.typeContact.id
        this.process.contact = Number.isInteger(this.process.contact) ? this.process.contact : this.process.contact.id
        this.process.person = this.idPessoa
        this.process.finalized = this.dateFormatPost(this.process.finalized)
        this.$http.put(process.env.API_URL + 'person/' + this.idPessoa + '/process/' + this.process.id, this.process).then(response => {
          this.loading = false
          this.fetchAllProcess()
          this.clearProcess()
          this.modalProcess = false
          this.$toasted.success('Processo editado com sucesso.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.process = {}
        }, response => {
          this.loading = false
          this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.process.finalized = this.dateFormatError(this.justNumber(this.process.finalized))
          this.modalProcess = false
        })
      },
      dateFormatPost (strParam) {
        if (strParam) {
          let date = strParam.split('/')
          return date[2] + '-' + date[1] + '-' + date[0]
        }
        return null
      },
      dateFormatError (strParam) {
        if (strParam) {
          return strParam.substring(6, 8) + strParam.substring(4, 6) + strParam.substring(0, 4)
        }
        return null
      },
      fetchAllType () {
        this.$http.get(process.env.API_URL + 'type', { page_type: '-1' }).then(function (response) {
          let i
          this.typeContact = response.body._embedded.type
          for (i = 0; i < response.body._embedded.type.length; i++) {
            this.typeContact[i].text = response.body._embedded.type[i].name
            this.typeContact[i].value = response.body._embedded.type[i].id
          }
        })
      },
      fetchAllContact () {
        this.$http.get(process.env.API_URL + 'person/' + this.idPessoa + '/contact', { params: { page: this.page } }).then(function (response) {
          this.itemsContatos = response.body._embedded.person_contact
          this.totalItems = response.body.page_count
          this.loading = false
          let i
//          this.contactSelect = response.body._embedded.person_contact
          for (i = 0; i < response.body._embedded.person_contact.length; i++) {
            this.itemsContatos[i].text = response.body._embedded.person_contact[i].name
            this.itemsContatos[i].value = response.body._embedded.person_contact[i].id
          }
        })
      },
      clearProcess () {
        this.process = {
          type: null,
          contact: null,
          finalized: null,
          id: null
        }
      },
      actionModalHistory (idProcess) {
        this.idProcess = idProcess
        this.isProcess = false
      },
      callProcess () {
        this.isProcess = true
      }
    },
    components: {
      'pessoa-history': PessoaHistory
    }
  }
</script>

<style>
</style>
