<template>
  <v-container id="funcionalidade-create" fluid>
      <v-layout>
        <v-flex xs12 md10 xl10>
            <v-layout>
              <v-flex xs11>
                <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">add</v-icon> {{ title }}</h4>
              </v-flex>
              <v-flex xs1>
                <div class="right">
                    <router-link to="/funcionalidade">
                        <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Funcionalidades' }">
                          <v-icon class="white--text">chevron_left</v-icon>
                        </v-btn>
                    </router-link>
                </div>
              </v-flex>
            </v-layout>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12 md10 xl10>
          <v-card>
              <v-flex xs12>
                <form class="" @submit.prevent="register()">
                  <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Nome da funcionalidade:"
                          v-model="functionality.name"
                          append-icon="chrome_reader_mode"
                          hint="Digite no minimo 8 caracteres"
                          min="3"
                          max="80"
                          counter
                          required
                        />
                      </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field
                          name="input-7-1"
                          label="Descrição:"
                          multi-line
                          v-model="functionality.description"
                          required
                        ></v-text-field>
                      </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                      <v-flex xs6>
                        <v-text-field
                          label="Url:"
                          v-model="functionality.url"
                          append-icon="link"
                          required
                        />
                      </v-flex>

                      <v-flex xs6>
                        <v-select
                          v-bind:items="states"
                          v-model="functionality.operation"
                          label="Operação:"
                          light
                          single-line
                          auto
                        />
                      </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                      <v-flex xs12>
                        <v-text-field
                          label="Controller:"
                          v-model="functionality.controller"
                          append-icon="code"
                          required
                        />
                      </v-flex>
                  </v-layout>
                  <v-layout row wrap>
                      <!-- Cadastrar Colaborador -->
                      <v-flex xs5 offset-xs7>
                          <v-btn
                            class="right"
                            v-bind:loading="loading"
                            v-on:click.native="loader = 'loading'"
                            v-bind:disabled="loading"
                            primary
                            type="submit"
                            v-tooltip:top="{ html: 'Cadastrar Funcionalidade' }"
                          >
                            Cadastrar
                            <v-icon right class="white--text">send</v-icon>
                          </v-btn>
                      </v-flex>
                  </v-layout>
                </form>
              </v-flex>
          </v-card>
        </v-flex>
    </v-layout>
</v-container>
</template>

<script>

export default {
  inject: ['$validator'],
  name: 'funcionalidade-create',
  data () {
    return {
      title: 'Adicionar Funcionalidade',
      functionality: {
        name: '',
        description: '',
        status: null,
        url: null,
        operation: null,
        controller: null
      },
      loading: false,
      states: [
        { text: 'GET', value: 'GET' },
        { text: 'POST', value: 'POST' },
        { text: 'PUT', value: 'PUT' },
        { text: 'PATCH', value: 'PATCH' },
        { text: 'DELETE', value: 'DELETE' }
      ],
      isActive: null
    }
  },
  methods: {
    register () {
      this.loading = true
      this.functionality.status = true
      this.$http.post(process.env.API_URL + 'oversight/functionality', this.functionality).then(response => {
        this.loading = false
        this.isActive = true
        this.$toasted.success('Funcionalidade cadastrada com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
//        this.$router.push('/funcionalidade')
        this.functionality = {}
      }, response => {
        this.isActive = false
        this.loading = false
        this.$toasted.error('Ocorreu uma falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    }
  },
  components: {}
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
</style>
