<template>
  <v-container id="functionality" fluid>
      <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  <v-layout>
      <v-flex xs12="xs12" v-if="!loading">
        <v-layout>
            <v-flex xs6>
                <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">fingerprint</v-icon> {{ title }}</h4>
            </v-flex>
            <v-flex xs6>
                <v-text-field
                        label="Pesquisa"
                        v-model="functionality.name"
                        append-icon="search"
                        v-on:keyup.native.enter="fetchFunctionality()"
                /></v-text-field>
            </v-flex>
        </v-layout>
        <!-- <v-card>
          <v-card-text> -->
            <v-data-table
                v-bind:headers="headers"
                :items="items"
                v-bind:search="search"
                hide-actions
                class="elevation-1"
              >
              <template slot="items" scope="props">
                <td class="text-xs-left">{{ props.item.name }}</td>
                <!-- <td class="text-xs-right">{{ props.item.description }}</td>
                <td class="text-xs-right">{{ props.item.controller }}</td> -->
                <td class="text-xs-left">{{ props.item.url }}</td>
                <td class="text-xs-left">{{ props.item.status | formatStatus}}</td>
                <td class="text-xs-left">
                    <v-btn v-if="props.item.status" icon="icon" @click.native="excluir(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                      <v-icon class="red--text">delete</v-icon>
                    </v-btn>
                    <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                      <v-icon class="grey--text">delete</v-icon>
                    </v-btn>
                    <router-link :to="{ path: '/funcionalidade/edit/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                            <v-icon class="blue--text">edit</v-icon>
                        </v-btn>
                    </router-link>
                </td>
              </template>
            </v-data-table>
            <!-- Pagination -->
            <v-flex xs6 offset-xs5>
              <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
            </v-flex>
          <!-- </v-card-text>
        </v-card> -->
        <div>
        <router-link :to="{ path: '/funcionalidade/create' }">
          <v-btn primary fab dark class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Funcionalidade' }">
            <v-icon class="white--text">add</v-icon>
          </v-btn>
        </router-link>
        </div>
      </v-flex>
  </v-layout>
</v-container>

</template>

<script>
// import http from 'src/http'

export default {
  name: 'functionality',
  data () {
    return {
      title: 'Funcionalidades',
      headers: [
        { text: 'Nome', value: 'name', left: true },
        { text: 'Url', left: true },
        { text: 'Status', left: true, sortable: false },
        { text: 'Ações', sortable: false }
      ],
      search: null,
      items: [],
      page: 1,
      totalItems: null,
      loading: true,
      functionality: {
        name: null
      }
    }
  },
  mounted () {
    this.fetchFunctionality()
  },
  methods: {
    fetchFunctionality () {
      this.$http.get(process.env.API_URL + 'oversight/functionality', { params: { page: this.page, name: this.functionality.name } }).then(function (response) {
        this.items = response.body._embedded.functionality
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    paginate () {
      this.fetchFunctionality()
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'oversight/functionality/' + id).then(function (response) {
        this.$toasted.success('Funcionalidade desativada com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.fetchFunctionality()
      })
    }
  }
}
</script>

<style scoped>
  #functionality a {
    text-decoration: none;
  }
</style>
