<template>
  <v-content>
    <v-container fluid>
      <div class="hello">
      </div>
    </v-container>
  </v-content>
</template>

<script>
export default {
  name: 'hello',
  data () {
    return {
      msg: 'CrmPro'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
