<template>
  <v-container fluid id="person-create">
    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">supervisor_account</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
              <router-link to="/pessoa">
                <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de pessoas' }">
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
              <fieldset>
              <legend>Dados Gerais</legend>
              <v-layout>
                <v-flex xs12 md6 xl6>
                  <v-text-field
                    name="nome"
                    label="Nome"
                    v-bind:rules="rules.nome"
                    v-validate="{ rules: {required: true, min: 3, max: 150}}"
                    v-model="person.name"
                    maxlength="150"
                    required
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-text-field
                          name="cpf"
                          label="CPF"
                          v-bind:rules="rules.cpf"
                          v-validate="{ rules: {required: true}}"
                          v-model="person.cpf"
                          maxlength="14"
                          v-mask-cpf
                          required
                  >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="rg"
                    label="RG"
                    v-model="person.rg"
                    maxlength="18"
                    v-bind:rules="rules.rg"
                    v-validate="{ rules: {required: true, min: 3, numeric: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="orgao_expedidor"
                    label="Orgão de Expedição"
                    v-model="person.rgOrganExpedition"
                    v-bind:rules="rules.orgao_expedidor"
                    v-validate="{ rules: {required: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="data_expedicao"
                    label="Data Expedição"
                    v-model="person.dtExpedition"
                    v-bind:rules="rules.data_expedicao"
                    v-validate="'required|date_format:DD/MM/YYYY'"
                    hint="dd/mm/aaaa"
                    maxlength="10"
                    v-mask-date.br
                    required
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="naturalidade"
                    label="Naturalidade"
                    v-model="person.naturalness"
                    maxlength="80"
                    v-bind:rules="rules.naturalidade"
                    v-validate="{ rules: {required: true, max: 80}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="cidade"
                    label="Cidade"
                    v-model="person.city"
                    maxlength="100"
                    v-bind:rules="rules.cidade"
                    v-validate="{ rules: {required: true, max: 100}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="data_nascimento"
                    label="Data Nascimento"
                    v-model="person.dtBirth"
                    v-bind:rules="rules.data_nascimento"
                    v-validate="'required|date_format:DD/MM/YYYY'"
                    hint="dd/mm/aaaa"
                    maxlength="10"
                    v-mask-date.br
                    required
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs8>
                  <v-text-field
                    name="email"
                    label="E-mail"
                    v-model="person.email"
                    v-bind:rules="rules.email"
                    v-validate="'required|email'"
                    maxlength="150"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-select
                      v-bind:items="sex"
                      v-model="person.sex"
                      label="Sexo:"
                      light
                      single-line
                      auto
                  />
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="telefone"
                    label="Telefone"
                    v-mask-phone.br
                    append-icon="phone"
                    max="11"
                    v-model="person.phone"
                    v-bind:rules="rules.telefone"
                    v-validate="{ rules: {required: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    name="telefone_secundary"
                    label="Telefone secundário"
                    v-mask-phone.br
                    append-icon="perm_phone_msg"
                    max="11"
                    v-model="person.phoneSecundary">
                  </v-text-field>
                </v-flex>
                <v-flex xs3>
                  <v-text-field
                    name="whatsapp"
                    label="Whatsapp"
                    v-mask-phone.br
                    append-icon="smartphone"
                    max="11"
                    v-model="person.whatsapp">
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="facebook"
                    label="Facebook"
                    v-model="person.facebook">
                  </v-text-field>
                </v-flex>
                <v-flex xs5>
                  <v-text-field
                    name="skype"
                    label="Skype"
                    v-model="person.skype">
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>

              <fieldset>
              <legend>Dados de Endereço</legend>
              <v-progress-linear v-bind:indeterminate="loadingCep" v-if="loadingCep"></v-progress-linear>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                          name="cep"
                          label="CEP"
                          max="10"
                          maxlength="10"
                          v-mask="'##.###-###'"
                          v-model="person.cep"
                          v-on:blur="findAddress()"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                  <span class="group pa-2" v-tooltip:right="{ html: 'Digite o Cep para preencher o endereço.' }">
                    <v-icon tiny style="margin-top: 17px; cursor: pointer;">help</v-icon>
                  </span>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs5>
                  <v-select
                          v-bind:items="ufs"
                          v-model="uf_selected"
                          label="UF"
                          autocomplete
                          @input="selectCities()"
                  ></v-select>
                </v-flex>
                <v-flex xs6>
                  <v-select
                        v-bind:items="cities"
                        v-model="city_selected"
                        label="Cidade"
                        autocomplete
                        return-object
                  ></v-select>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="logradouro"
                    label="Logradouro"
                    v-model="person.description"
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs2>
                  <v-text-field
                      name="numero"
                      label="Número"
                      v-model="person.number"
                  >
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="bairro"
                    label="Bairro"
                    v-model="person.neighborhood"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <v-text-field
                    name="complemento"
                    label="Complemento"
                    v-model="person.complement"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>

              <fieldset>
              <legend>Complemento</legend>
              <v-layout>
                <v-flex xs12>
                  <v-text-field
                    name="observacoes"
                    label="Observações"
                    v-model="person.note"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>
              <!-- Cadastrar empresa -->
              <v-layout>
                <v-flex xs5 offset-xs7>
                  <v-btn
                    class="right"
                    v-bind:loading="loading"
                    v-on:click.native="loader = 'loading'"
                    v-bind:disabled="loading"
                    primary
                    type="submit"
                    v-tooltip:top="{ html: 'Cadastrar Pessoa' }"
                  >
                    Cadastrar
                    <v-icon right class="white--text">send</v-icon>
                  </v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import { Validator } from 'vee-validate'
const validator = new Validator()
validator.installDateTimeValidators(moment)
export default {
  inject: ['$validator'],
  name: 'person-create',
  data () {
    return {
      title: 'Cadastrar Pessoa',
      person: {
        name: '',
        email: '',
        cpf: '',
        rg: '',
        dtBirth: null,
        status: true,
        rgOrganExpedition: '',
        dtExpedition: null,
        naturalness: '',
        city: '',
        phone: '',
        account: 1,
        phoneSecundary: null,
        facebook: null,
        skype: null,
        website: null,
        description: null,
        district: null,
        city_uf: null,
        uf: null,
        cep: null,
        complement: null,
        note: null,
        whatsapp: null,
        neighborhood: null,
        number: null,
        sex: null
      },
      loading: false,
      loadingCep: false,
      rules: {
        nome: [],
        cpf: [],
        email: [],
        rg: [],
        orgao_expedidor: [],
        data_expedicao: [],
        data_nascimento: [],
        naturalidade: [],
        cidade: [],
        telefone: []
      },
      sex: [
        {text: 'Masculino', value: 'M'},
        {text: 'Feminino', value: 'F'}
      ],
      ufs: [
        {text: 'Acre', value: 'AC'},
        {text: 'Alagoas', value: 'AL'},
        {text: 'Amapá', value: 'AP'},
        {text: 'Amazonas', value: 'AM'},
        {text: 'Bahia', value: 'BA'},
        {text: 'Ceará', value: 'CE'},
        {text: 'Distrito Federal', value: 'DF'},
        {text: 'Espírito Santo', value: 'ES'},
        {text: 'Goiás', value: 'GO'},
        {text: 'Maranhão', value: 'MA'},
        {text: 'Mato Grosso', value: 'MT'},
        {text: 'Mato Grosso do Sul', value: 'MS'},
        {text: 'Minas Gerais', value: 'MG'},
        {text: 'Pará', value: 'PA'},
        {text: 'Paraíba', value: 'PB'},
        {text: 'Paraná', value: 'PR'},
        {text: 'Pernambuco', value: 'PE'},
        {text: 'Piauí', value: 'PI'},
        {text: 'Rio de Janeiro', value: 'RJ'},
        {text: 'Rio Grande do Norte', value: 'RN'},
        {text: 'Rio Grande do Sul', value: 'RN'},
        {text: 'Rondônia', value: 'RO'},
        {text: 'Roraima', value: 'RR'},
        {text: 'Santa Catarina', value: 'SC'},
        {text: 'São Paulo', value: 'SP'},
        {text: 'Sergipe', value: 'SE'},
        {text: 'Tocantins', value: 'TO'}
      ],
      uf_selected: [],
      city_selected: [],
      cities: []
    }
  },
  methods: {
    register () {
      this.loading = true
      // Tratando as datas
      this.person.dtBirth = this.dateFormatPost(this.person.dtBirth)
      this.person.dtExpedition = this.dateFormatPost(this.person.dtExpedition)
      // Tratando o CPF
      let replaceCPF = this.person.cpf.replace(/[\\.-]/g, '')
      this.person.cpf = replaceCPF

      // Telefone
      this.person.phone = this.justNumber(this.person.phone)
      this.person.phoneSecundary = this.justNumber(this.person.phoneSecundary)
      this.person.whatsapp = this.justNumber(this.person.whatsapp)

      // Cep
      this.person.cep = this.justNumber(this.person.cep)

      this.person.city_uf = this.city_selected.name

      this.person.sex = this.person.sex.value
      this.$http.post(process.env.API_URL + 'person', this.person).then(response => {
        this.loading = false
        this.$toasted.success('Dados cadastrados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.person = {}
        this.$router.push('personhistory/' + response.body.id)
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.person.dtBirth = this.dateFormatError(this.person.dtBirth)
        this.person.dtExpedition = this.dateFormatError(this.person.dtExpedition)
      })
    },
    justNumber (strParam) {
      if (strParam) {
        return strParam.replace(/[^\d]/g, '')
      }
      return null
    },
    dateFormatPost (strParam) {
      if (strParam) {
        let date = strParam.split('/')
        return date[2] + '-' + date[1] + '-' + date[0]
      }
      return null
    },
    dateFormatError (strParam) {
      if (strParam) {
        return strParam.substring(6, 8) + strParam.substring(4, 6) + strParam.substring(0, 4)
      }
      return null
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.register()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    },
    findAddress () {
      if (this.person.cep && this.justNumber(this.person.cep).length >= 8) {
        this.loadingCep = true
        this.$http.get(process.env.API_URL + 'cep/' + this.justNumber(this.person.cep)).then(response => {
          this.person.uf = response.body.uf
          this.uf_selected = response.body.uf
          this.city_selected.text = response.body._embedded.city.name
          this.person.description = response.body.description
          this.person.complement = response.body.complement
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Infelizmente não encontramos nenhum endereço para o Cep digitado :(', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    },
    selectCities () {
      if (this.uf_selected) {
        this.loadingCep = true
        this.person.uf = this.uf_selected
        this.$http.get(process.env.API_URL + 'city?uf=' + this.uf_selected).then(response => {
          this.cities = response.body._embedded.city
          for (let iteratorCities = 0; iteratorCities < response.body._embedded.city.length; iteratorCities++) {
            this.cities[iteratorCities].text = response.body._embedded.city[iteratorCities].name
            this.cities[iteratorCities].value = response.body._embedded.city[iteratorCities].id
          }
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Falha ao realizar a operação para buscar as cidades deste Estado.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    }
  }
}
</script>

<style scoped>
</style>
