<template>
  <v-container fluid id="person-create">
    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11="xs11">
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="pink--text">supervisor_account</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1="xs1">
            <div class="right">
              <router-link to="/pessoa">
                <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de pessoas' }">
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs12 md10 xl10>
        <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm">
              <fieldset>
              <legend>Dados Gerais</legend>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="nome"
                    label="Nome"
                    v-bind:rules="rules.nome"
                    v-validate="{ rules: {required: true, min: 3, max: 150}}"
                    v-model="person.name"
                    maxlength="150"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="cpf"
                    label="CPF"
                    v-validate="{ rules: {required: true, min: 14}}"
                    v-model="person.cpf"
                    maxlength="14"
                    v-mask-cpf
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="rg"
                    label="RG"
                    v-model="person.rg"
                    maxlength="18"
                    v-bind:rules="rules.rg"
                    v-validate="{ rules: {required: true, min: 3, numeric: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs3>
                  <v-text-field
                    name="rgOrganExpedition"
                    label="Orgão de Expedição"
                    v-model="person.rgOrganExpedition"
                    v-bind:rules="rules.rgOrganExpedition"
                    v-validate="{ rules: {required: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="dtExpedition"
                    label="Data Expedição"
                    v-mask-date.br
                    v-model="person.dtExpedition"
                    v-bind:rules="rules.dtExpedition"
                    v-validate="'required|date_format:DD/MM/YYYY'"
                    hint="dd/mm/aaaa"
                    maxlength="10"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="naturalness"
                    label="Naturalidade"
                    v-model="person.naturalness"
                    maxlength="80"
                    v-bind:rules="rules.naturalness"
                    v-validate="{ rules: {required: true, max: 80}}"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-text-field
                    name="cidade"
                    label="Cidade"
                    v-model="person.city"
                    maxlength="100"
                    v-bind:rules="rules.city"
                    v-validate="{ rules: {required: true, max: 100}}"
                    required
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs3>
                  <v-text-field
                    name="data-nascimento"
                    label="Data Nascimento"
                    v-model="person.dtBirth"
                    v-mask-date.br
                    v-bind:rules="rules.dtBirth"
                    v-validate="'required|date_format:DD/MM/YYYY'"
                    hint="dd/mm/aaaa"
                    maxlength="10"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs6>
                  <v-text-field
                    name="email"
                    label="E-mail"
                    type="email"
                    v-model="person.email"
                    v-bind:rules="rules.email"
                    v-validate="'required|email'"
                    maxlength="150"
                    required
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs3>
                  <v-select
                      v-bind:items="sex"
                      v-model="person.sex"
                      label="Sexo:"
                      light
                      single-line
                      auto
                  />
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                    name="telefone"
                    label="Telefone"
                    v-mask-phone.br
                    append-icon="phone"
                    max="11"
                    v-model="person.phone"
                    v-bind:rules="rules.phone"
                    v-validate="{ rules: {required: true}}"
                    required
                    >
                  </v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    name="telefone_secundary"
                    label="Telefone secundário"
                    v-mask-phone.br
                    append-icon="perm_phone_msg"
                    max="11"
                    v-model="person.phoneSecundary">
                  </v-text-field>
                </v-flex>
                <v-flex xs4>
                  <v-text-field
                    name="whatsapp"
                    label="Whatsapp"
                    v-mask-phone.br
                    append-icon="smartphone"
                    max="11"
                    v-model="person.whatsapp">
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="facebook"
                    label="Facebook"
                    v-model="person.facebook">
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                  <v-text-field
                    name="skype"
                    label="Skype"
                    v-model="person.skype">
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <v-switch :label="person.status | formatStatus" primary v-model="person.status" light />
                </v-flex>
              </v-layout>
              </fieldset>

              <fieldset>
              <legend>Dados de Endereço</legend>
              <v-progress-linear v-bind:indeterminate="loadingCep" v-if="loadingCep"></v-progress-linear>
              <v-layout>
                <v-flex xs4>
                  <v-text-field
                          name="cep"
                          label="CEP"
                          max="10"
                          maxlength="10"
                          v-mask="'##.###-###'"
                          v-model="person.cep"
                          v-on:blur="findAddress()"
                  >
                  </v-text-field>
                </v-flex>
                <v-flex xs6>
                <span class="group pa-2" v-tooltip:right="{ html: 'Digite o Cep para preencher o endereço.' }">
                  <v-icon tiny style="margin-top: 17px; cursor: pointer;">help</v-icon>
                </span>
                </v-flex>
              </v-layout>

                <v-layout>
                  <v-flex xs5>
                    <v-select
                            v-bind:items="ufs"
                            v-model="uf_selected"
                            label="UF"
                            autocomplete
                            @input="selectCities()"
                    ></v-select>
                  </v-flex>
                  <v-flex xs6>
                    <v-select
                            v-bind:items="cities"
                            v-model="city_selected"
                            label="Cidade"
                            autocomplete
                            return-object
                    ></v-select>
                  </v-flex>
                </v-layout>
              <v-layout>
                <v-flex xs6>
                  <v-text-field
                    name="logradouro"
                    label="Logradouro"
                    v-model="person.description"
                    >
                  </v-text-field>
                </v-flex>

                <v-flex xs2>
                  <v-text-field
                          name="numero"
                          label="Número"
                          v-model="person.number"
                  >
                  </v-text-field>
                </v-flex>

                <v-flex xs4>
                  <v-text-field
                    name="bairro"
                    label="Bairro"
                    v-model="person.neighborhood"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <!--<v-layout>-->
                <!--<v-flex xs4>-->
                  <!--<v-text-field-->
                    <!--name="cidade"-->
                    <!--label="Cidade"-->
                    <!--v-model="person.city_uf"-->
                    <!--&gt;-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->

                <!--<v-flex xs4>-->
                  <!--<v-text-field-->
                    <!--name="uf"-->
                    <!--label="UF"-->
                    <!--v-model="person.uf"-->
                    <!--&gt;-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->

                <!--<v-flex xs4>-->
                  <!--<v-text-field-->
                    <!--name="cep"-->
                    <!--label="CEP"-->
                    <!--max="10"-->
                    <!--maxlength="10"-->
                    <!--v-mask="'##.###-###'"-->
                    <!--v-model="person.cep"-->
                    <!--&gt;-->
                  <!--</v-text-field>-->
                <!--</v-flex>-->
              <!--</v-layout>-->
              <v-layout>
                <v-flex xs12>
                  <v-text-field
                    name="complemento"
                    label="Complemento"
                    v-model="person.complement"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>

              <fieldset>
              <legend>Complemento</legend>
              <v-layout>
                <v-flex xs12>
                  <v-text-field
                    name="observacoes"
                    label="Observações"
                    v-model="person.note"
                    >
                  </v-text-field>
                </v-flex>
              </v-layout>
              </fieldset>
              <!-- Cadastrar pessoa -->
              <v-layout>
                <v-flex xs12 offset-xs6>
                  <v-btn
                    class="right"
                    v-bind:loading="loading"
                    v-on:click.native="loader = 'loading'"
                    v-bind:disabled="loading"
                    primary
                    type="submit"
                    v-tooltip:top="{ html: 'Editar Pessoa' }"
                  >
                    Editar
                    <v-icon right class="white--text">send</v-icon>
                  </v-btn>

                  <router-link to="/pessoa">
                    <v-btn
                        class="right"
                        default
                        v-tooltip:top="{ html: 'Cancelar a Ação' }"
                    >
                      Cancelar
                      <v-icon right>undo</v-icon>
                    </v-btn>
                  </router-link>
                </v-flex>
              </v-layout>
            </form>
          </v-flex>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
const moment = require('moment')
require('moment/locale/br')

import _ from 'lodash'
import { Validator } from 'vee-validate'
const validator = new Validator()
validator.installDateTimeValidators(moment)

export default {
  inject: ['$validator'],
  name: 'person-edit',
  data () {
    return {
      title: 'Editar Pessoa',
      person: {
        id: null,
        name: '',
        email: '',
        cpf: '',
        rg: '',
        dtBirth: null,
        status: null,
        rgOrganExpedition: '',
        dtExpedition: null,
        naturalness: '',
        city: '',
        phone: '',
        account: 1,
        phoneSecundary: null,
        facebook: null,
        skype: null,
        website: null,
        description: null,
        district: null,
        city_uf: null,
        uf: null,
        cep: null,
        complement: null,
        note: null,
        whatsapp: null,
        neighborhood: null,
        sex: null,
        number: null
      },
      rules: {
        nome: [],
        cpf: [],
        email: [],
        rg: [],
        rgOrganExpedition: [],
        dtExpedition: [],
        dtBirth: [],
        naturalness: [],
        city: [],
        phone: []
      },
      loading: false,
      sex: [
        {text: 'Masculino', value: 'M'},
        {text: 'Feminino', value: 'F'}
      ],
      ufs: [
        {text: 'Acre', value: 'AC'},
        {text: 'Alagoas', value: 'AL'},
        {text: 'Amapá', value: 'AP'},
        {text: 'Amazonas', value: 'AM'},
        {text: 'Bahia', value: 'BA'},
        {text: 'Ceará', value: 'CE'},
        {text: 'Distrito Federal', value: 'DF'},
        {text: 'Espírito Santo', value: 'ES'},
        {text: 'Goiás', value: 'GO'},
        {text: 'Maranhão', value: 'MA'},
        {text: 'Mato Grosso', value: 'MT'},
        {text: 'Mato Grosso do Sul', value: 'MS'},
        {text: 'Minas Gerais', value: 'MG'},
        {text: 'Pará', value: 'PA'},
        {text: 'Paraíba', value: 'PB'},
        {text: 'Paraná', value: 'PR'},
        {text: 'Pernambuco', value: 'PE'},
        {text: 'Piauí', value: 'PI'},
        {text: 'Rio de Janeiro', value: 'RJ'},
        {text: 'Rio Grande do Norte', value: 'RN'},
        {text: 'Rio Grande do Sul', value: 'RN'},
        {text: 'Rondônia', value: 'RO'},
        {text: 'Roraima', value: 'RR'},
        {text: 'Santa Catarina', value: 'SC'},
        {text: 'São Paulo', value: 'SP'},
        {text: 'Sergipe', value: 'SE'},
        {text: 'Tocantins', value: 'TO'}
      ],
      uf_selected: [],
      city_selected: [],
      cities: [],
      loadingCep: false
    }
  },
  mounted () {
    let id = this.$route.params.id
    this.getPerson(id)
  },
  methods: {
    register () {
      this.loading = true
      // Tratando as datas
      this.person.dtBirth = this.dateFormatPost(this.person.dtBirth)
      this.person.dtExpedition = this.dateFormatPost(this.person.dtExpedition)
      // Tratando o CPF
      let replaceCPF = this.person.cpf.replace(/[\\.-]/g, '')
      this.person.cpf = replaceCPF

      // Telefone
      this.person.phone = this.justNumber(this.person.phone)
      this.person.phoneSecundary = this.justNumber(this.person.phoneSecundary)
      this.person.whatsapp = this.justNumber(this.person.whatsapp)

      this.person.city_uf = this.city_selected.name

      // Cep
      this.person.cep = this.justNumber(this.person.cep)
      this.person.sex = this.person.sex.value
      this.$http.put(process.env.API_URL + 'person/' + this.$route.params.id, this.person).then(response => {
        this.loading = false
        this.$toasted.success('Dados alterados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.getPerson(this.$route.params.id)
//        this.$router.push('personhistory/' + response.body.id)
      }, response => {
        this.person.dtBirth = this.dateFormatError(this.person.dtBirth)
        this.person.dtExpedition = this.dateFormatError(this.person.dtExpedition)
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.getPerson(this.$route.params.id)
      })
    },
    justNumber (strParam) {
      if (strParam) {
        return strParam.replace(/[^\d]/g, '')
      }
      return null
    },
    dateFormatPost (strParam) {
      if (strParam) {
        let date = strParam.split('/')
        return date[2] + '-' + date[1] + '-' + date[0]
      }
      return null
    },
    getPerson (id) {
      this.$http.get(process.env.API_URL + 'person/' + this.$route.params.id).then(function (response) {
        this.popularPerson(response.body)
      })
    },
    popularPerson (objParams) {
      this.person.id = objParams.id
      this.person.name = objParams.name
      this.person.email = objParams.email
      this.person.cpf = objParams.cpf
      this.person.rg = objParams.rg
      this.person.dtBirth = moment(objParams.dateBirth.date).format('DD/MM/YYYY')
      this.person.status = objParams.status
      this.person.rgOrganExpedition = objParams.rgOrganExpedition
      this.person.dtExpedition = moment(objParams.dateExpedition.date).format('DD/MM/YYYY')
      this.person.naturalness = objParams.naturalness
      this.person.city = objParams.city
      this.person.phone = objParams.phone
      this.person.account = objParams.account
      this.person.note = objParams.note
      this.person.phoneSecundary = objParams.phoneSecundary
      this.person.facebook = objParams.facebook
      this.person.website = objParams.website
      this.person.skype = objParams.skype
      this.person.whatsapp = objParams.whatsapp
      this.person.sex = objParams.sex
      this.person.description = objParams._embedded ? objParams._embedded.address.description : ''
      this.person.district = objParams._embedded ? objParams._embedded.address.district : ''
      this.person.city_uf = objParams._embedded ? objParams._embedded.address.city : ''
      this.city_selected = objParams._embedded ? objParams._embedded.address.city : ''
      this.person.uf = objParams._embedded ? objParams._embedded.address.uf : ''
      this.uf_selected = objParams._embedded ? objParams._embedded.address.uf : ''
      this.person.cep = objParams._embedded ? objParams._embedded.address.cep : ''
      this.person.complement = objParams._embedded ? objParams._embedded.address.complement : ''
      this.person.neighborhood = objParams._embedded ? objParams._embedded.address.neighborhood : ''
      this.person.number = objParams._embedded ? objParams._embedded.address.number : ''
    },
    dateFormatError (strParam) {
      if (strParam) {
        return strParam.substring(6, 8) + strParam.substring(4, 6) + strParam.substring(0, 4)
      }
      return null
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.register()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    },
    findAddress () {
      if (this.person.cep && this.justNumber(this.person.cep).length >= 8) {
        this.loadingCep = true
        this.$http.get(process.env.API_URL + 'cep/' + this.justNumber(this.person.cep)).then(response => {
          this.person.uf = response.body.uf
          this.uf_selected = response.body.uf
          this.city_selected = response.body._embedded.city.name
          this.person.description = response.body.description
          this.person.complement = response.body.complement
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Infelizmente não encontramos nenhum endereço para o Cep digitado :(', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    },
    selectCities () {
      if (this.uf_selected) {
        this.loadingCep = true
        this.person.uf = this.uf_selected
        this.$http.get(process.env.API_URL + 'city?uf=' + this.uf_selected).then(response => {
          this.cities = response.body._embedded.city
          for (let iteratorCities = 0; iteratorCities < response.body._embedded.city.length; iteratorCities++) {
            this.cities[iteratorCities].text = response.body._embedded.city[iteratorCities].name
            this.cities[iteratorCities].value = response.body._embedded.city[iteratorCities].id
          }
          this.loadingCep = false
        }, response => {
          this.loading = false
          this.$toasted.error('Falha ao realizar a operação para buscar as cidades deste Estado.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loadingCep = false
        })
      }
    }
  }
}
</script>
