<template>
  <v-container id="person" fluid>
  <div class="spinner" v-if="loading">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
  </div>
    <v-layout>
      <v-flex xs10>
        <v-flex xs10>
          <v-snackbar
               :class="{ active : isActive, 'success' : 'error' }"
               :timeout="6000"
               :top="y === 'top'"
               :right="x === 'right'"
               v-model="alert"
             >
             {{ text }}
             <v-btn flat class="white--text" @click.native="alert = false">Fechar</v-btn>
           </v-snackbar>
        </v-flex>
      </v-flex>
    </v-layout>
    <v-layout>
      <!-- DataGrid -->
      <v-flex xs12 v-if="!loading">
        <v-layout>
          <v-flex xs6>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="green--text">supervisor_account</v-icon>{{ title }}</h4>
          </v-flex>
          <v-flex xs6>
            <v-text-field
              label="Pesquisa"
              v-model="person.search"
              append-icon="search"
              v-on:keyup.native.enter="fetchPerson()"
            /></v-text-field>
          </v-flex>
        </v-layout>
        <!-- <v-card>
          <v-card-text> -->
            <v-data-table
                v-bind:headers="headers"
                :items="items"
                v-bind:search="search"
                hide-actions
                class="elevation-1"
              >
              <template slot="items" scope="props">
                <td class="text-xs-left">{{ props.item.name.length < 20 ? props.item.name.substr(0, 20) + '' : props.item.name.substr(0, 20) + '...' }}</td>
                <td class="text-xs-left">{{ props.item.email }}</td>
                <td class="text-xs-left">{{ props.item.cpf }}</td>
                <td class="text-xs-left">{{ props.item.city }}</td>
                <td class="text-xs-left">{{ props.item.phone }}</td>
                <!-- <td class="text-xs-right">{{ props.item.naturalness }}</td> -->
                <td class="text-xs-left">
                    {{ props.item.status | formatStatus }}
                </td>

                <td class="text-xs-right">
                    <v-btn v-if="props.item.status" icon="icon" @click.native="excluir(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                      <v-icon class="red--text">delete</v-icon>
                    </v-btn>
                    <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                      <v-icon class="grey--text">delete</v-icon>
                    </v-btn>
                    <router-link :to="{ path: '/pessoa/edit/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                              <v-icon class="blue--text">edit</v-icon>
                        </v-btn>
                    </router-link>
                    <router-link :to="{ path: '/pessoa/personhistory/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Processos' }">
                              <v-icon class="blue--text">contacts</v-icon>
                        </v-btn>
                    </router-link>
                </td>

              </template>
              </v-data-table>
              <!-- Pagination -->
              <v-flex xs6 offset-xs5>
                <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
              </v-flex>
          <!-- </v-card-text>
        </v-card> -->
        <div>
          <router-link :to="{ path: '/pessoa/create' }">
            <v-btn primary fab dark class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Pessoa' }">
              <v-icon class="white--text">add</v-icon>
            </v-btn>
          </router-link>
        </div>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
// import http from 'src/http'

export default {
  name: 'person',
  data () {
    return {
      title: 'Pessoas',
      headers: [
        { text: 'Nome', value: 'name', left: true },
        { text: 'E-mail', value: 'email', left: true },
        { text: 'Cpf', left: true, sortable: false },
        { text: 'Cidade', left: true, sortable: false },
        { text: 'Telefone', left: true, sortable: false },
        { text: 'Status', left: true, sortable: false }
      ],
      person: {
        search: null
      },
      items: [],
      page: 1,
      totalItems: null,
      loading: true,
      search: null,
      y: 'top',
      x: 'right',
      isActive: null,
      text: '',
      alert: false
    }
  },
  mounted () {
    this.fetchPerson()
  },
  methods: {
    fetchPerson () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'person', { params: { page: this.page, search: this.person.search } }).then(function (response) {
        this.items = response.body._embedded.person
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    paginate () {
      this.fetchPerson()
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'person/' + id).then(function (response) {
        this.$toasted.success('Desativado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.fetchPerson()
      }, response => {
        console.log(response)
        this.$toasted.error('Erro ao desativar pessoa.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.fetchPerson()
      })
    }
  }
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
</style>
