<template>
  <v-container fluid id="person-history">
    <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
    <v-layout>
      <v-flex xs11="xs11">
        <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="green--text"><i class="material-icons">supervisor_account</i></v-icon>{{ title }}</h4>
      </v-flex>
      <v-flex xs1="xs1">
        <div class="right">
          <router-link to="/pessoa">
            <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de pessoas' }">
              <v-icon class="white--text">chevron_left</v-icon>
            </v-btn>
          </router-link>
        </div>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12>
        <v-tabs id="mobile-tabs-2" grow>
          <v-tabs-bar slot="activators" class="cyan">
            <v-tabs-item href="#mobile-tabs-2-3" class="tab-company" ripple>
              <span class="text-tabs">Dados Cadastrais</span>
            </v-tabs-item>
            <v-tabs-item href="#mobile-tabs-2-1" class="tab-company" ripple>
              <span class="text-tabs">Contatos</span>
            </v-tabs-item>
            <v-tabs-item href="#mobile-tabs-2-2" class="tab-company" ripple>
              <span class="text-tabs">Histórico</span>
            </v-tabs-item>
          </v-tabs-bar>
          <!-- Dados da Pessoa -->
          <v-tabs-content id="mobile-tabs-2-3">
            <v-card>
              <v-card-text>
                <pessoa-dados :idPessoa="idPessoa"></pessoa-dados>
              </v-card-text>
            </v-card>
          </v-tabs-content>

          <!-- Contatos -->
          <v-tabs-content id="mobile-tabs-2-1">
            <v-card>
              <v-card-text>
                <pessoa-contatos :idPessoa="idPessoa"></pessoa-contatos>
              </v-card-text>
            </v-card>
          </v-tabs-content>


          <!-- processo -->
          <v-tabs-content id="mobile-tabs-2-2">
            <v-card>
              <v-card-text>
                <pessoa-processo :idPessoa="idPessoa"></pessoa-processo>
              </v-card-text>
            </v-card>
          </v-tabs-content>


        </v-tabs><!-- END TABS -->
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import PessoaDados from './historico/DadosPessoa'
import PessoaContatos from './historico/ContatoPessoa'
import PessoaProcesso from './historico/Processo'
export default {
  data () {
    return {
      title: 'Pessoa - Contato/Historico',
      loading: false,
      idPessoa: this.$route.params.id
    }
  },
  components: {
    'pessoa-dados': PessoaDados,
    'pessoa-contatos': PessoaContatos,
    'pessoa-processo': PessoaProcesso
  }
}
</script>

<style scoped>
  .text-tabs {
    color: #1976d2;
    font-weight: bold;
  }
  .tab-company {
    background-color: #FFF;
  }
</style>
