<template>
  <v-container id="collaborator-create" fluid>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-layout>
        <v-flex xs12>
          <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="red--text">add</v-icon> {{ title }}</h4>
        </v-flex>
        <v-flex xs1>
          <div class="right">
              <router-link to="/collaborator">
                  <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Colaborador' }">
                    <v-icon class="white--text">chevron_left</v-icon>
                  </v-btn>
              </router-link>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  <v-layout row>
    <v-flex xs12 md10>
      <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
                <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Nome:"
                      append-icon="people"
                      name="nome"
                      v-bind:rules="rules.nome"
                      v-validate="{ rules: {required: true, max:150}}"
                      v-model="collaborator.name"
                      maxlength="150"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="E-mail:"
                      name="email"
                      v-bind:rules="rules.email"
                      v-validate="{ rules: {required: true, email: true}}"
                      v-model="collaborator.email"
                      append-icon="email"
                      required
                    />
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Cpf:"
                      v-mask-cpf
                      name="cpf"
                      v-bind:rules="rules.cpf"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.cpf"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Data Nascimento:"
                      v-mask-date.br
                      name="data_nascimento"
                      v-bind:rules="rules.data_nascimento"
                      v-validate="'required|date_format:DD/MM/YYYY'"
                      v-model="collaborator.dtBirth"
                      append-icon="date_range"
                      required
                    />
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Rg:"
                      name="rg"
                      maxlength="18"
                      v-bind:rules="rules.rg"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.rg"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Orgão Exp.:"
                      name="orgao_expedidor"
                      v-bind:rules="rules.orgao_expedidor"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.rgOrganExpedition"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Data Exp.:"
                      v-mask-date.br
                      name="data_expedicao"
                      v-bind:rules="rules.data_expedicao"
                      v-validate="'required|date_format:DD/MM/YYYY'"
                      v-model="collaborator.dtExpedition"
                      append-icon="date_range"
                      required
                    />
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Naturalidade:"
                      name="naturalidade"
                      v-bind:rules="rules.naturalidade"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.naturalness"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Cidade:"
                      name="cidade"
                      v-bind:rules="rules.cidade"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.city"
                      required
                    />
                  </v-flex>
                </v-layout>
                <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Nome de usuário:"
                      name="nome_usuario"
                      v-bind:rules="rules.nome_usuario"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.userName"
                      append-icon="account_circle"
                      required
                    />
                  </v-flex>
                </v-layout>
                <v-layout>
                  <!-- Cadastrar Colaborador -->
                  <v-flex xs5 offset-xs7>
                      <v-btn
                        class="right"
                        v-bind:loading="loading"
                        v-on:click.native="loader = 'loading'"
                        v-bind:disabled="loading"
                        primary
                        type="submit"
                        v-tooltip:top="{ html: 'Cadastrar Colaborador' }"
                      >
                        Cadastrar
                        <v-icon class="white--text" right>send</v-icon>
                      </v-btn>
                  </v-flex>
              </v-layout>
            </form>

          </v-flex>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import _ from 'lodash'
import moment from 'moment'
import { Validator } from 'vee-validate'
const validator = new Validator()
validator.installDateTimeValidators(moment)
export default {
  inject: ['$validator'],
  name: 'collaborator-create',
  data () {
    return {
      title: 'Adicionar Colaborador',
      collaborator: {
        name: '',
        email: '',
        cpf: '',
        dtBirth: '',
        rg: '',
        rgOrganExpedition: '',
        dtExpedition: '',
        naturalness: '',
        city: '',
        inActive: null,
        userName: '',
        account: 1,
        contact: null,
        administrator: null
      },
      rules: {
        nome: [],
        email: [],
        cpf: [],
        data_nascimento: [],
        rg: [],
        orgao_expedidor: [],
        data_expedicao: [],
        naturalidade: [],
        cidade: [],
        nome_usuario: []
      },
      loading: false
    }
  },
  methods: {
    register () {
      this.loading = true
      this.collaborator.inActive = true
      this.collaborator.administrator = true
      this.collaborator.contact = false
      this.collaborator.cpf = this.justNumber(this.collaborator.cpf)
      this.collaborator.dtBirth = this.dateFormatPost(this.collaborator.dtBirth)
      this.collaborator.dtExpedition = this.dateFormatPost(this.collaborator.dtExpedition)
      this.$http.post(process.env.API_URL + 'oversight/collaborator', this.collaborator).then(response => {
        this.loading = false
        this.$toasted.success('Dados cadastrados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.$router.push('edit/' + response.body.id + '/plan/' + response.body._embedded.account._embedded.plan.id)
      }, response => {
        this.collaborator.dtBirth = this.dateFormatError(this.justNumber(this.collaborator.dtBirth))
        this.collaborator.dtExpedition = this.dateFormatError(this.justNumber(this.collaborator.dtExpedition))
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    justNumber (strParam) {
      if (strParam) {
        return strParam.replace(/[^\d]/g, '')
      }
      return null
    },
    dateFormatPost (strParam) {
      if (strParam) {
        let date = strParam.split('/')
        return date[2] + '-' + date[1] + '-' + date[0]
      }
      return null
    },
    dateFormatError (strParam) {
      if (strParam) {
        return strParam.substring(6, 8) + strParam.substring(4, 6) + strParam.substring(0, 4)
      }
      return null
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.register()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    }
  },
  components: {}
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  div.container {
    padding-bottom: 12px;
  }
</style>
