<template>
  <v-container id="collaborator-edit" fluid>
  <v-layout>
    <v-flex xs12 md12 xl12>
      <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="red--text">edit</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
                <router-link to="/collaborator">
                    <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Colaborador' }">
                      <v-icon class="white--text">chevron_left</v-icon>
                    </v-btn>
                </router-link>
            </div>
          </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 md12 xl12>
      <v-card>
        <v-tabs id="mobile-tabs-2" grow v-model="active">
            <v-tabs-bar slot="activators" class="cyan">
              <v-tabs-item href="#mobile-tabs-2-1" class="tab-company" ripple>
                <span class="text-tabs">Dados Cadastrais</span>
              </v-tabs-item>
              <v-tabs-item href="#mobile-tabs-2-2" class="tab-company" ripple>
                <span class="text-tabs">Acesso</span>
              </v-tabs-item>
              <v-tabs-slider class="cyan"></v-tabs-slider>
            </v-tabs-bar>
          <v-tabs-content id="mobile-tabs-2-1">
            <v-card>
              <v-card-text>
                <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
              <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Nome:"
                      name="nome"
                      v-bind:rules="rules.nome"
                      v-validate="{ rules: {required: true, max:150}}"
                      v-model="collaborator.name"
                      append-icon="people"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="E-mail:"
                      name="email"
                      v-bind:rules="rules.email"
                      v-validate="{ rules: {required: true, email: true}}"
                      v-model="collaborator.email"
                      append-icon="email"
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Cpf:"
                      v-mask-cpf
                      name="cpf"
                      v-bind:rules="rules.cpf"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.cpf"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Data Nascimento:"
                      name="data_nascimento"
                      v-bind:rules="rules.data_nascimento"
                      v-validate="'required|date_format:DD/MM/YYYY'"
                      v-model="collaborator.dtBirth"
                      append-icon="date_range"
                      v-mask-date.br
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Rg:"
                      name="rg"
                      v-mask-rg
                      maxlength="18"
                      v-bind:rules="rules.rg"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.rg"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Orgão Exp.:"
                      name="orgao_expedidor"
                      v-bind:rules="rules.orgao_expedidor"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.rgOrganExpedition"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md4 xl4>
                    <v-text-field
                      label="Data Exp.:"
                      name="data_expedicao"
                      v-bind:rules="rules.data_expedicao"
                      v-validate="'required|date_format:DD/MM/YYYY'"
                      v-model="collaborator.dtExpedition"
                      append-icon="date_range"
                      v-mask-date.br
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Naturalidade:"
                      name="naturalidade"
                      v-bind:rules="rules.naturalidade"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.naturalness"
                      required
                    />
                  </v-flex>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Cidade:"
                      name="cidade"
                      v-bind:rules="rules.cidade"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.city"
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12 md6 xl6>
                    <v-text-field
                      label="Nome de usuário:"
                      name="nome_usuario"
                      v-bind:rules="rules.nome_usuario"
                      v-validate="{ rules: {required: true}}"
                      v-model="collaborator.userName"
                      append-icon="account_circle"
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12>
                    <v-switch :label="collaborator.inActive | formatStatus" primary v-model="collaborator.inActive" light />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <!-- Cadastrar Colaborador -->
                  <v-flex xs5 offset-xs7>
                      <v-btn
                        class="right"
                        v-bind:loading="loading"
                        v-on:click.native="loader = 'loading'"
                        v-bind:disabled="loading"
                        primary
                        type="submit"
                        v-tooltip:top="{ html: 'Editar Colaborador' }"
                      >
                        Editar
                        <v-icon right class="white--text">check_circle</v-icon>
                      </v-btn>

                      <router-link to="/collaborator">
                          <v-btn
                              class="right"
                              dark default
                              v-tooltip:top="{ html: 'Cancelar a Ação' }"
                          >
                              Cancelar
                              <v-icon right class="white--text">undo</v-icon>
                          </v-btn>
                      </router-link>
                  </v-flex>
              </v-layout>
            </form>
          </v-flex>
              </v-card-text>
            </v-card>
          </v-tabs-content>

          <v-tabs-content id="mobile-tabs-2-2">
            <v-card>
              <v-card-text>
                <user-administration :idCollaborator="idCollaborator" :idPlan="idPlan"></user-administration>
              </v-card-text>
            </v-card>
          </v-tabs-content>
        </v-tabs>

      </v-card>
    </v-flex>
</v-layout>
</v-container>
</template>

<script>
import _ from 'lodash'
import { Validator } from 'vee-validate'
const moment = require('moment')
require('moment/locale/br')
import UserAdministration from './generaldata/UserAdministration'

const validator = new Validator()
validator.installDateTimeValidators(moment)
export default {
  inject: ['$validator'],
  name: 'collaborator-edit',
  data () {
    return {
      title: 'Editar Colaborador',
      collaborator: {
        id: '',
        name: '',
        email: '',
        cpf: '',
        dtBirth: '',
        rg: '',
        rgOrganExpedition: '',
        dtExpedition: '',
        naturalness: '',
        city: '',
        inActive: '',
        userName: '',
        account: 1,
        contact: null,
        administrator: null
      },
      rules: {
        nome: [],
        email: [],
        cpf: [],
        data_nascimento: [],
        rg: [],
        orgao_expedidor: [],
        data_expedicao: [],
        naturalidade: [],
        cidade: [],
        nome_usuario: []
      },
      loading: false,
      idCollaborator: this.$route.params.id,
      idPlan: this.$route.params.idPlan,
      active: 'mobile-tabs-2-2'
    }
  },
  mounted () {
    let id = this.$route.params.id
    this.getCollaborator(id)
  },
  methods: {
    edit () {
      this.loading = true
      this.collaborator.cpf = this.justNumber(this.collaborator.cpf)
      this.collaborator.dtBirth = this.dateFormatPost(this.collaborator.dtBirth)
      this.collaborator.dtExpedition = this.dateFormatPost(this.collaborator.dtExpedition)
      this.$http.put(process.env.API_URL + 'oversight/collaborator/' + this.collaborator.id, this.collaborator).then(response => {
        this.loading = false
        this.$toasted.success('Dados alterados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.getCollaborator(this.collaborator.id)
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        // this.getCollaborator(this.collaborator.id)
        this.collaborator.dtBirth = this.dateFormatError(this.justNumber(this.collaborator.dtBirth))
        this.collaborator.dtExpedition = this.dateFormatError(this.justNumber(this.collaborator.dtExpedition))
      })
    },
    getCollaborator (id) {
      this.$http.get(process.env.API_URL + 'oversight/collaborator/' + this.$route.params.id).then(function (response) {
        this.popularCollaborator(response.body)
      })
    },
    popularCollaborator (objParams) {
      this.collaborator.id = objParams.id
      this.collaborator.name = objParams.name
      this.collaborator.email = objParams.email
      this.collaborator.cpf = objParams.cpf
      this.collaborator.dtBirth = moment(objParams.dateBirth.date).format('DD/MM/YYYY')
      this.collaborator.rg = objParams.rg
      this.collaborator.dtExpedition = moment(objParams.dateExpedition.date).format('DD/MM/YYYY')
      this.collaborator.rgOrganExpedition = objParams.rgOrganExpedition
      this.collaborator.naturalness = objParams.naturalness
      this.collaborator.city = objParams.city
      this.collaborator.inActive = objParams.status
      this.collaborator.userName = objParams.userName
      this.collaborator.account = objParams._embedded.account.id
      this.collaborator.contact = objParams.contact
      this.collaborator.administrator = objParams.administrator
    },
    justNumber (strParam) {
      if (strParam) {
        return strParam.replace(/[^\d]/g, '')
      }
      return null
    },
    dateFormatPost (strParam) {
      if (strParam) {
        let date = strParam.split('/')
        return date[2] + '-' + date[1] + '-' + date[0]
      }
      return null
    },
    dateFormatError (strParam) {
      if (strParam) {
        return strParam.substring(6, 8) + strParam.substring(4, 6) + strParam.substring(0, 4)
      }
      return null
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.edit()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    }
  },
  components: {
    'user-administration': UserAdministration
  }
}
</script>

<style scoped>
  .button-list-float {
    bottom: 85px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    margin: 0;
    list-style-type: none;
  }
  .text-tabs {
    color: #1976d2;
    font-weight: bold;
  }
  .tab-company {
    background-color: #FFF;
  }
</style>
