<template>
  <v-container id="collaborator" fluid>
      <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
      <v-layout>
        <!-- DataGrid -->
        <v-flex xs12 v-if="!loading">
          <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="red--text">people_outline</v-icon> {{ title }}</h4>
              <v-data-table
                  v-bind:headers="headers"
                  :items="items"
                  v-bind:search="search"
                  hide-actions
                  class="elevation-1"
                >
                <template slot="items" scope="props">
                  <td class="text-xs-left">{{ props.item.name }}</td>
                  <td class="text-xs-left">{{ props.item.email }}</td>
                  <td class="text-xs-left">{{ props.item.cpf }}</td>
                  <td class="text-xs-left">{{ props.item.rg }}</td>
                  <td class="text-xs-left">{{ props.item.rgOrganExpedition }}</td>
                  <!-- <td class="text-xs-right">{{ props.item.naturalness }}</td> -->
                  <td class="text-xs-left">
                      {{ props.item.status | formatStatus }}
                  </td>
                  <td class="text-xs-right">
                      <v-btn v-if="props.item.status" @click.native="excluir(props.item.id)" icon="icon" class="right" v-tooltip:top="{ html: 'Inativar' }">
                        <v-icon class="red--text">delete</v-icon>
                      </v-btn>
                      <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                        <v-icon class="grey--text">delete</v-icon>
                      </v-btn>
                      <router-link :to="{ path: '/collaborator/edit/' + props.item.id + '/plan/' + props.item._embedded.account._embedded.plan.id }">
                          <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                            <v-icon class="blue--text">edit</v-icon>
                          </v-btn>
                      </router-link>
                  </td>
                </template>
              </v-data-table>
              <!-- Pagination -->
              <v-flex xs6 offset-xs5>
                <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
              </v-flex>
          <div>
          <router-link :to="{ path: '/collaborator/create' }">
            <v-btn fab primary class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Colaborador' }">
              <v-icon class="white--text">add</v-icon>
            </v-btn>
          </router-link>
          </div>
        </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import Vue from 'vue'

Vue.filter('formatStatus', function (value) {
  if (value === true) {
    return 'Ativo'
  } else {
    return 'Inativo'
  }
})

export default {
  name: 'collaborator',
  data () {
    return {
      title: 'Colaboradores',
      collaborators: [],
      totalItems: null,
      headers: [
        { text: 'Nome', value: 'name', align: 'left' },
        { text: 'E-mail', value: 'mail', align: 'left' },
        { text: 'CPF', value: 'cpf', align: 'left' },
        { text: 'RG', value: 'rg', align: 'left' },
        { text: 'Orgão Exp.', value: 'rgOrganExpedition', align: 'left' },
        // { text: 'Naturalidade' },
        { text: 'Status', value: 'status', align: 'left' },
        { text: 'Ações', sortable: false }
      ],
      search: null,
      items: [],
      page: 1,
      alert: false,
      loading: true
    }
  },
  mounted () {
    this.fetchCollaborator()
  },
  methods: {
    fetchCollaborator: function () {
      this.$http.get(process.env.API_URL + 'oversight/collaborator', { params: { page: this.page } }).then(function (response) {
        this.items = response.body._embedded.collaborator
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'oversight/collaborator/' + id).then(function (response) {
        this.$toasted.success('Colaborador desativado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.fetchCollaborator()
      })
    },
    paginate () {
      this.fetchCollaborator()
    }
  }
}
</script>

<style scoped>
  #collaborator a {
    text-decoration: none;
  }
</style>
