<template>
  <fieldset>
    <legend>Ramo de atuação</legend>
    <v-layout>
      <v-flex xs12>
        <v-select
          v-bind:items="branchs"
          v-model="branch"
          label="Ramo de atuação"
          autocomplete
          multiple
          return-object
          chips
        ></v-select>
      </v-flex>
    </v-layout>
  </fieldset>
</template>
<script>
  export default {
    props: ['value'],
    data () {
      return {
        branch: [],
        branchs: []
      }
    },
    methods: {
      getBranchOfActivity () {
        this.loading = true
        this.$http.get(process.env.API_URL + 'branch-of-activity').then(response => {
          this.branchs = response.body._embedded.branch_of_activity
          for (this.i = 0; this.i < response.body._embedded.branch_of_activity.length; this.i++) {
            this.branchs[this.i].text = response.body._embedded.branch_of_activity[this.i].name
            this.branchs[this.i].value = response.body._embedded.branch_of_activity[this.i].id
          }
          this.loading = false
        }, response => {
          this.$toasted.error('Falha ao tentar realizar a operação.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
          this.loading = false
        })
      }
    },
    mounted () {
      this.getBranchOfActivity()
    }
  }
</script>
