<template>
  <v-container id="profile-create" fluid>
  <v-layout>
    <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="purple--text">add</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
                <router-link to="/perfil">
                    <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Perfis' }">
                      <v-icon class="white--text">chevron_left</v-icon>
                    </v-btn>
                </router-link>
            </div>
          </v-flex>
        </v-layout>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
              <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Nome:"
                      name="nome"
                      v-bind:rules="rules.nome"
                      v-validate="{ rules: {required: true, max: 150}}"
                      v-model="profile.name"
                      append-icon="people"
                      maxlength="150"
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12>
                    <v-text-field
                      label="Descrição:"
                      name="descricao"
                      v-bind:rules="rules.descricao"
                      v-validate="{ rules: {required: true, max: 150}}"
                      v-model="profile.description"
                      append-icon="email"
                      maxlength="150"
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <!-- Cadastrar Colaborador -->
                  <v-flex xs5 offset-xs7>
                      <v-btn
                        class="right"
                        v-bind:loading="loading"
                        v-on:click.native="loader = 'loading'"
                        v-bind:disabled="loading"
                        primary
                        type="submit"
                        v-tooltip:top="{ html: 'Cadastrar Perfil' }"
                      >
                        Cadastrar
                        <v-icon right class="white--text">check_circle</v-icon>
                      </v-btn>
                  </v-flex>
              </v-layout>
            </form>
          </v-flex>
      </v-card>
    </v-flex>
</v-layout>
</v-container>
</template>

<script>
import _ from 'lodash'

export default {
  inject: ['$validator'],
  name: 'profile-create',
  data () {
    return {
      title: 'Adicionar Perfil',
      profile: {
        name: '',
        description: '',
        status: true
      },
      rules: {
        nome: [],
        descricao: []
      },
      loading: false
    }
  },
  methods: {
    register () {
      this.loading = true
      this.$http.post(process.env.API_URL + 'oversight/profile', this.profile).then(response => {
        this.loading = false
        this.$toasted.success('Perfil cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.$router.push('/perfil')
      }, response => {
        this.$toasted.error('Error ao cadastrar o Perfil :(', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
      })
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.register()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    }
  },
  components: {}
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
</style>
