<template>
  <v-container id="profile-edit" fluid>
  <v-layout>
    <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="red--text">edit</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
              <router-link to="/perfil">
                <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Perfis' }">
                  <v-icon class="white--text">chevron_left</v-icon>
                </v-btn>
              </router-link>
            </div>
          </v-flex>
        </v-layout>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="validateForm" novalidate>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    label="Nome:"
                    name="nome"
                    v-bind:rules="rules.nome"
                    v-validate="{ rules: {required: true, max: 150}}"
                    v-model="profile.name"
                    append-icon="people"
                    maxlength="150"
                    required
                  />
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-text-field
                    label="Descrição:"
                    name="descricao"
                    v-bind:rules="rules.descricao"
                    v-validate="{ rules: {required: true, max: 150}}"
                    v-model="profile.description"
                    append-icon="description"
                    maxlength="150"
                    required
                  />
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-switch :label="profile.status | formatStatus" primary v-model="profile.status" light />
                </v-flex>
              </v-layout>
              <v-layout row wrap>
                <!-- Editar Perfil -->
                <v-flex xs5 offset-xs7>
                    <v-btn
                      class="right"
                      v-bind:loading="loading"
                      v-on:click.native="loader = 'loading'"
                      v-bind:disabled="loading"
                      primary
                      type="submit"
                      v-tooltip:top="{ html: 'Editar Perfil' }"
                    >
                      Salvar
                      <v-icon right class="white--text">check_circle</v-icon>
                    </v-btn>
                </v-flex>
              </v-layout>
            </form>
          </v-flex>
      </v-card>
    </v-flex>
</v-layout>
</v-container>
</template>

<script>
import Vue from 'vue'
import _ from 'lodash'

Vue.filter('formatStatus', function (value) {
  if (value === true) {
    return 'Ativo'
  } else {
    return 'Inativo'
  }
})

export default {
  inject: ['$validator'],
  name: 'profile-edit',
  data () {
    return {
      title: 'Editar Perfil',
      profile: {
        id: '',
        name: '',
        description: '',
        status: ''
      },
      rules: {
        nome: [],
        descricao: []
      },
      loading: false
    }
  },
  mounted () {
    let id = this.$route.params.id
    this.getProfile(id)
  },
  methods: {
    edit () {
      this.$http.put(process.env.API_URL + 'oversight/profile/' + this.$route.params.id, this.profile).then(response => {
        this.loading = false
        this.$toasted.success('Perfil editado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      }, response => {
        this.$toasted.error('Error ao editar o Perfil :(', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
      })
    },
    getProfile (id) {
      this.$http.get(process.env.API_URL + 'oversight/profile/' + this.$route.params.id).then(function (response) {
        this.popularProfile(response.body)
      })
    },
    popularProfile (objParams) {
      this.profile.id = objParams.id
      this.profile.name = objParams.name
      this.profile.description = objParams.description
      this.profile.status = objParams.status
    },
    validateForm () {
      this.$validator.validateAll()
        .then(() => {
          this.edit()
        })
        .catch(err => {
          _.forEach(this.rules, (val, key) => {
            this.rules[key] = [() => (this.errors.has(key) ? this.errors.first(key) : true)]
          })
          console.log(err)
        })
    }
  },
  components: {}
}
</script>

<style scoped>
  .content {
    margin-top: 55px;
  }
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  .with {
    min-height: 0;
  }
</style>
