<template>
  <v-container id="profile" fluid>
      <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  <v-layout>
      <!-- DataGrid -->
      <v-flex xs12 v-if="!loading">
        <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="purple--text">fingerprint</v-icon> {{ title }}</h4>
        <!-- <v-card>
          <v-card-text> -->
            <v-data-table
                v-bind:headers="headers"
                :items="items"
                v-bind:search="search"
                hide-actions
                class="elevation-1"
              >
              <template slot="items" scope="props">
                <td class="text-xs-left">{{ props.item.name }}</td>
                <td class="text-xs-left">{{ props.item.description }}</td>
                <td class="text-xs-left">{{ props.item.status | formatStatus}}</td>
                <td class="text-xs-left">
                    <v-btn v-if="props.item.status" icon="icon" @click.native="excluir(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
                      <v-icon class="red--text">delete</v-icon>
                    </v-btn>
                    <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
                      <v-icon class="grey--text">delete</v-icon>
                    </v-btn>
                    <router-link :to="{ path: '/perfil/edit/' + props.item.id }">
                        <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                              <v-icon class="blue--text">edit</v-icon>
                        </v-btn>
                    </router-link>
                </td>
              </template>
            </v-data-table>
            <!-- Pagination -->
            <v-flex xs6 offset-xs5>
              <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
            </v-flex>
          <!-- </v-card-text>
        </v-card> -->
        <div>
            <router-link :to="{ path: '/perfil/create' }">
              <v-btn primary fab dark class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Perfil' }">
                <v-icon class="white--text">add</v-icon>
              </v-btn>
            </router-link>
        </div>
      </v-flex>
  </v-layout>
</v-container>
</template>

<script>
import Vue from 'vue'

Vue.filter('formatStatus', function (value) {
  if (value === true) {
    return 'Ativo'
  } else {
    return 'Inativo'
  }
})

export default {
  name: 'profile',
  data () {
    return {
      title: 'Perfis',
      profiles: [],
      totalItems: null,
      headers: [
        { text: 'Nome', left: true, sortable: false },
        { text: 'Descrição', left: true, sortable: false },
        { text: 'Status', left: true, sortable: false },
        { text: 'Ações' }
      ],
      search: null,
      items: [],
      page: 1,
      alert: false,
      loading: true
    }
  },
  mounted () {
    this.fetchProfile()
  },
  methods: {
    fetchProfile: function () {
      this.$http.get(process.env.API_URL + 'oversight/profile', { params: { page: this.page } }).then(function (response) {
        this.profiles = response.body._embedded.profile
        this.items = response.body._embedded.profile
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'oversight/profile/' + id).then(function (response) {
        this.alert = true
        this.fetchProfile()
      })
    },
    paginate () {
      this.fetchProfile()
    }
  },
  components: {}
}
</script>

<style scoped>
  #profile a {
    color: #FFF;
    text-decoration: none;
  }
</style>
