<template>
  <div id="app">
    <!--<crm-layout></crm-layout>-->
    <router-view></router-view>
  </div>
</template>

<script>
// import CrmLayout from './components/layout/Layout.vue'

export default {
  name: 'app',
  components: {
    // CrmLayout
  }
}
</script>

<style>
</style>
