<template>
  <v-container id="collaborator-create" fluid>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-layout>
        <v-flex xs11="xs11">
          <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="red--text">add</v-icon> {{ title }}</h4>
        </v-flex>
        <v-flex xs1="xs1">
          <div class="right">
              <router-link to="/collaborator">
                  <v-btn primary floating small dark v-tooltip:left="{ html: 'Voltar para listagem de  Colaborador' }">
                    <v-icon class="white--text">chevron_left</v-icon>
                  </v-btn>
              </router-link>
          </div>
        </v-flex>
      </v-layout>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="saveExport" novalidate>
              <v-flex>
                  <v-flex xs12 md12 xl12>
                    <v-text-field
                      name="export"
                      v-model="json.export"
                      label="String json"
                      multi-line
                    ></v-text-field>
                  </v-flex>

                  <v-flex xs5 offset-xs7>
                      <v-btn
                        class="right"
                        v-bind:loading="loading"
                        v-on:click.native="loader = 'loading'"
                        v-bind:disabled="loading"
                        primary
                        type="submit"
                        v-tooltip:top="{ html: 'Exportar dados' }"
                      >
                        Exportar
                        <v-icon right>send</v-icon>
                      </v-btn>
                  </v-flex>
              </v-flex>
            </form>

          </v-flex>
      </v-card>
    </v-flex>
  </v-layout>
  </v-container>
</template>

<script>
import moment from 'moment'
import { Validator } from 'vee-validate'
const validator = new Validator()
validator.installDateTimeValidators(moment)
import Util from '../../../../mixin/Util'
export default {
  inject: ['$validator'],
  name: 'collaborator-create',
  mixins: [Util],
  data () {
    return {
      title: 'Exportação de dados',
      json: {
        export: ''
      },
      loading: false
    }
  },
  methods: {
    saveExport () {
      this.loading = true
      let objJson = JSON.parse(this.json.export)
      for (var key in objJson) {
        console.log(key, 'key')
        objJson[key].dtBirth = this.dateFormatPost(objJson[key].dtBirth)
        objJson[key].rgOrganExpedition = null
        objJson[key].dtExpedition = null
        objJson[key].naturalness = null
        objJson[key].note = null
        objJson[key].website = null
        objJson[key].facebook = null
        objJson[key].whatsapp = null
        objJson[key].skype = null
        objJson[key].neighborhood = null
        objJson[key].city_uf = objJson[key].city
        console.log(objJson[key], 'value')
        this.$http.post(process.env.API_URL + 'person', objJson[key]).then(response => {
          this.loading = false
          this.$toasted.success('Dados cadastrados com sucesso.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
        }, response => {
          this.loading = false
          this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
            theme: 'bubble',
            position: 'top-right',
            duration: 5000
          })
        })
      }
    }
  },
  components: {}
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
  div.container {
    padding-bottom: 12px;
  }
</style>
