<template>
  <div id="contact">
    <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
    <v-data-table
      v-bind:headers="headers"
      :items="items"
      v-bind:search="search"
      hide-actions
      class="elevation-1"
    >
      <template slot="items" scope="props">
        <td class="text-xs-left">{{ props.item.name }}</td>
        <td class="text-xs-left">{{ props.item.phone }}</td>
        <td class="text-xs-left">{{ props.item.email }}</td>
        <td class="text-xs-left">{{ props.item._embedded.typeContact.name }}</td>
        <td class="text-xs-right">
            <v-btn v-if="props.item.status" icon="icon" @click.native="deleteContact(props.item.id)" class="right" v-tooltip:top="{ html: 'Inativar' }">
              <v-icon class="red--text">delete</v-icon>
            </v-btn>
            <v-btn v-if="!props.item.status" icon="icon" class="right" v-tooltip:top="{ html: 'Inativo' }">
              <v-icon class="grey--text">delete</v-icon>
            </v-btn>

            <v-btn icon="icon" class="right" slot="activator"
                   v-tooltip:top="{ html: 'Editar contato' }"
              @click.native="fetchContact(props.item.id)">
              <v-icon class="blue--text">edit</v-icon>
            </v-btn>

        </td>
      </template>
    </v-data-table>

  <!-- Pagination -->
  <v-flex xs6 offset-xs5>
    <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
  </v-flex>

  <!-- modal Cadastro -->
  <v-dialog v-model="modalDialog" width="600" class="right" persistent>
    <v-btn primary fab dark style="margin-top: 22px; margin-right: -6px;"
      slot="activator" @click.native="clearContact()"
       v-tooltip:left="{ html: 'Cadastrar Contato' }"
    >
      <v-icon class="white--text">add</v-icon>
    </v-btn>
    <v-card>
      <v-card-title class="headline blue--text">Contato</v-card-title>
      <div class="spinner" v-if="contact.id && loading">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>
      <v-card-text>
        <v-container fluid>
          <v-layout>
            <v-flex xs12>
              <v-text-field
                name="input-1"
                label="Nome Completo"
                v-model="contact.name"
                required>
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <v-text-field
                name="input-1"
                label="E-mail"
                v-model="contact.email">
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <v-text-field
                name="input-1"
                label="Telefone"
                v-model="contact.phone"
                v-mask-phone.br>
              </v-text-field>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12>
              <v-select
                v-bind:items="typeContact"
                v-model="contact.typeContact"
                label="Tipo"
                auto
                required
              ></v-select>
            </v-flex>
          </v-layout>
          <v-layout>
            <v-flex xs12 v-if="contact.id">
              <v-switch :label="contact.inActive | formatStatus" primary v-model="contact.inActive" light />
            </v-flex>
          </v-layout>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-layout>
          <v-flex xs12>
            <v-btn primary class="white--text darken-1 right"
              @click.native="registerContact()"
               v-bind:loading="loading"
               v-on:click.native="loader = 'loading'"
               v-tooltip:top="{ html: 'Cadastrar Contato' }"
               v-bind:disabled="loading"
              v-if="!contact.id">
              Salvar
            </v-btn>
            <v-btn primary class="white--text darken-1 right"
              @click.native="editContact(contact.id)"
               v-bind:loading="loading"
               v-on:click.native="loader = 'loading'"
               v-bind:disabled="loading"
               v-tooltip:top="{ html: 'Editar Contato' }"
              v-if="contact.id">
              Editar
            </v-btn>
            <v-btn class="blue--text darken-1 right" flat
                   @click.native="modalDialog = false">Fechar</v-btn>
          </v-flex>
        </v-layout>
      </v-card-actions>
    </v-card>
  </v-dialog>
  </div>
</template>
<script>
    import Util from '../../../../../mixin/Util'
    export default {
      inject: ['$validator'],
      name: 'contact',
      mixins: [Util],
      props: {
        idCompany: {
          type: String,
          required: true
        }
      },
      data () {
        return {
          contact: {
            name: null,
            email: null,
            phone: null,
            id: null,
            inActive: true,
            typeContact: null
          },
          headers: [
            { text: 'Nome', align: 'left', value: 'name' },
            { text: 'Telefone', align: 'left', sortable: false },
            { text: 'E-mail', align: 'left', value: 'email' },
            { text: 'Tipo', align: 'left', value: 'type', sortable: false },
            { text: 'Ação', align: 'left', sortable: false }
          ],
          modalDialog: false,
          search: null,
          items: [],
          page: 1,
          totalItems: null,
          typeContact: [],
          loading: true
        }
      },
      methods: {
        registerContact () {
          this.loading = true
          this.contact.phone = this.justNumber(this.contact.phone)
          this.$http.post(process.env.API_URL + 'company/' + this.idCompany + '/contact',
            this.contact
          ).then(response => {
            this.loading = false
            this.fetchAllContact()
            this.clearContact()
            this.modalDialog = false
            this.$toasted.success('Contato cadastrado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        fetchAllContact () {
          this.$http.get(process.env.API_URL + 'company/' + this.idCompany + '/contact', { params: { page: this.page, status: true } }).then(function (response) {
            this.items = response.body._embedded.contact
            this.totalItems = response.body.page_count
            this.loading = false
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        fetchContact (id) {
          this.loading = true
          this.$http.get(process.env.API_URL + 'company/' + this.idCompany + '/contact/' + id).then(function (response) {
            this.popularContact(response.body)
            this.modalDialog = true
            this.loading = false
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        editContact (id) {
          this.loading = true
          this.contact.phone = this.justNumber(this.contact.phone)
          this.$http.put(process.env.API_URL + 'company/' + this.idCompany + '/contact/' + id, this.contact).then(response => {
            this.loading = false
            this.fetchAllContact()
            this.clearContact()
            this.modalDialog = false
            this.$toasted.success('Contato editado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        clearContact () {
          this.contact = {
            name: null,
            email: null,
            cpf: null,
            rg: null,
            dateBirth: null,
            rgOrganExpedition: null,
            dateExpedition: null,
            naturalness: null,
            city: null,
            phone: null,
            id: null,
            inActive: true,
            type: null
          }
        },
        popularContact (objParams) {
          this.contact = {
            name: objParams.name,
            email: objParams.email,
            phone: objParams.phone,
            id: objParams.id,
            inActive: objParams.status,
            typeContact: objParams._embedded.typeContact.id
          }
        },
        fetchAllTypeContact () {
          this.$http.get(process.env.API_URL + 'type-contact', { page_type: '-1' }).then(function (response) {
            let i
            this.typeContact = response.body._embedded.type_contact
            for (i = 0; i < response.body._embedded.type_contact.length; i++) {
              this.typeContact[i].text = response.body._embedded.type_contact[i].name
              this.typeContact[i].value = response.body._embedded.type_contact[i].id
            }
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        paginate () {
          this.fetchAllContact()
        },
        deleteContact (id) {
          this.$http.delete(process.env.API_URL + 'company/' + this.idCompany + '/contact/' + id, this.contact).then(function (response) {
            this.loading = false
            this.fetchAllContact()
            this.$toasted.success('Contato desativado com sucesso.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          }, response => {
            this.loading = false
            this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        }
      },
      mounted () {
        this.fetchAllContact()
        this.fetchAllTypeContact()
      }
    }
</script>
