<template>
  <div id="data-company">
  <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-snackbar
           :class="[activeClass ? 'success' : 'error']"
           :timeout="6000"
           :top="y === 'top'"
           :right="x === 'right'"
           v-model="alert"
         >
         {{ text }}
         <v-btn flat class="white--text" @click.native="alert = false">Fechar</v-btn>
       </v-snackbar>
    </v-flex>
  </v-layout>
  <div v-if="!loading">
  <fieldset>
    <legend>Dados Gerais</legend>
    <v-layout row>
      <v-flex xs6>
        <v-text-field
          name="input-1"
          label="Nome Organização"
          v-model="company.name"
          maxlength="150"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs6>
        <v-text-field
          name="input-1"
          label="Razão Social"
          maxlength="150"
          v-model="company.socialName"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="CNPJ"
          maxlength="19"
          v-model="company.cnpj"
          v-mask-cnpj
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Inscrição Estadual"
          v-model="company.inscriptionState"
          maxlength="20"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Inscrição Municipal"
          v-model="company.inscriptionCity"
          maxlength="20"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs8>
        <v-text-field
          name="input-1"
          label="E-mail"
          v-model="company.mail"
          maxlength="100"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Data Criação"
          v-mask-date.br
          v-model="company.createRegister"
          maxlength="10"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Facebook"
          maxlength="100"
          v-model="company.facebook"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Skype"
          maxlength="100"
          v-model="company.skype"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="WebSite"
          maxlength="100"
          v-model="company.website"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    </fieldset>

    <fieldset>
    <legend>Dados de Endereço</legend>
    <v-layout>
      <v-flex xs6>
        <v-text-field
          name="input-1"
          label="Logradouro"
          maxlength="150"
          v-model="company.description"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs6>
        <v-text-field
          name="input-1"
          label="Bairro"
          maxlength="150"
          v-model="company.district"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs3>
        <v-text-field
          name="input-1"
          label="Cidade"
          maxlength="150"
          v-model="company.city"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs3>
        <v-text-field
          name="input-1"
          label="UF"
          v-model="company.uf"
          maxlength="2"
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs3>
        <v-text-field
          name="input-1"
          label="CEP"
          v-model="company.cep"
          maxlength="10"
          v-mask-cep
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs3>
        <v-text-field
          name="input-1"
          label="Complemento"
          maxlength="255"
          v-model="company.complement"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs8>
        <v-text-field
          name="input-1"
          label="Telefône Principal"
          v-model="company.phone"
          maxlength="15"
          v-mask-phone.br
          disabled>
        </v-text-field>
      </v-flex>

      <v-flex xs4>
        <v-text-field
          name="input-1"
          label="Telefône Secundário"
          v-model="company.phoneSecundary"
          maxlength="15"
          v-mask-phone.br
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    </fieldset>

    <fieldset>
    <legend>Complemento</legend>
    <v-layout>
      <v-flex xs12>
        <v-text-field
          name="input-1"
          label="Observações"
          v-model="company.note"
          disabled>
        </v-text-field>
      </v-flex>
    </v-layout>
    </fieldset>
  </div>
  </div>
</template>
<script>
    const moment = require('moment')
    require('moment/locale/br')
    export default {
      inject: ['$validator'],
      name: 'data-company',
      props: {
        idCompany: {
          type: String,
          required: true
        }
      },
      data () {
        return {
          company: {
            name: '',
            socialName: '',
            cnpj: null,
            inscriptionState: null,
            inscriptionCity: null,
            createRegister: null,
            mail: null,
            phone: null,
            phoneSecundary: null,
            facebook: null,
            skype: null,
            website: null,
            description: null,
            district: null,
            city: null,
            uf: null,
            cep: null,
            complement: null,
            note: null
          },
          loading: false,
          alert: false,
          y: 'top',
          x: 'right',
          activeClass: null,
          text: ''
        }
      },
      mounted () {
        let id = this.idCompany
        this.getCompany(id)
      },
      methods: {
        getCompany (id) {
          this.loading = true
          this.$http.get(process.env.API_URL + 'company/' + id).then(function (response) {
            this.popularCompany(response.body)
            this.loading = false
          }, response => {
            this.loading = false
            this.$toasted.error('Falha ao tentar realizar a operação.', {
              theme: 'bubble',
              position: 'top-right',
              duration: 5000
            })
          })
        },
        popularCompany (objParams) {
          this.company = {
            company: objParams.id,
            name: objParams.name,
            socialName: objParams.socialName,
            cnpj: objParams.cnpj,
            inscriptionState: objParams.inscriptionState,
            inscriptionCity: objParams.inscriptionCity,
            createRegister: moment(objParams.createRegister.date).format('DD/MM/YYYY'),
            mail: objParams.mail,
            phone: objParams.phone,
            phoneSecundary: objParams.phoneSecundary,
            facebook: objParams.facebook,
            skype: objParams.skype,
            website: objParams.website,
            description: objParams._embedded.address.description,
            district: objParams._embedded.address.district,
            city: objParams._embedded.address.city,
            uf: objParams._embedded.address.uf,
            cep: objParams._embedded.address.cep,
            complement: objParams._embedded.address.complement,
            note: objParams.note
          }
        }
      }
    }
</script>
