<template>
    <div id="history">
        <v-progress-linear v-bind:indeterminate="loading" v-if="loading"></v-progress-linear>
          <v-layout>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Codigo"
                v-model="process.id"
                disabled>
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Tipo"
                v-model="process.type"
                disabled>
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Autor"
                v-model="process.user"
                disabled>
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Contato"
                v-model="process.contact"
                disabled>
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Iniciado em"
                v-model="process.start"
                disabled>
              </v-text-field>
            </v-flex>
            <v-flex xs2>
              <v-text-field
                name="input-1"
                label="Finalizado em"
                v-model="process.finalized"
                disabled>
              </v-text-field>
            </v-flex>
          </v-layout>
        <v-data-table
            v-bind:headers="headers"
            :items="items"
            v-bind:search="search"
            hide-actions
            class="elevation-1">
          <template slot="items" scope="props">
            <td class="text-xs-left">{{ props.item.id }}</td>
            <td class="text-xs-left">{{ props.item._embedded.action.name }}</td>
            <td class="text-xs-left">{{ props.item._embedded.contact.name }}</td>
            <td class="text-xs-left" v-html="props.item.description.substr(0, 80)"></td>
            <td class="text-xs-left">{{ dateFormatBr(props.item.register.date) }}</td>
            <td class="text-xs-left">{{ JSON.parse(props.item.user).userName }}</td>
            <td class="text-xs-right">
              <v-btn icon="icon" class="right" slot="activator"
                     v-tooltip:left="{ html: 'Visualizar historico' }"
                     @click.native="fetchHistory(props.item.id)">
                <v-icon class="blue--text">remove_red_eye</v-icon>
              </v-btn>
            </td>
          </template>
        </v-data-table>

        <!-- Pagination -->
        <v-flex xs6 offset-xs5>
          <v-pagination v-if="totalItemshistory > 0" v-bind:length.number="totalItemshistory" v-model="pagenationHistory" class="center" @click.native="paginate()"/>
        </v-flex>

    <!-- modal Cadastro -->
    <v-dialog v-model="modalHistory" width="900" class="right" persistent>
      <v-btn primary fab dark
        slot="activator"
        v-tooltip:left="{ html: 'Cadastrar historico' }"
        v-if="!process.finalized"
        style="margin-top: 22px; margin-right: -6px;">
        <v-icon class="white--text">add</v-icon>
      </v-btn>
      <v-card>
          <v-card-title class="headline">Novo histórico</v-card-title>
          <v-card-text>
            <v-container fluid>
              <v-layout>
                <v-flex xs3>
                  <v-select
                    v-bind:items="action"
                    v-model="history.action"
                    label="Ação"
                    auto
                  ></v-select>
                </v-flex>
                <v-flex xs5>
                  <v-select
                    v-bind:items="contactSelect"
                    v-model="history.contact"
                    label="Contato"
                    auto
                  ></v-select>
                </v-flex>
                <v-flex xs4 v-if="history.action == 2">
                  <v-text-field
                    name="callCenter"
                    label="Central Telefônica"
                    v-model="history.callCenter"
                  >
                  </v-text-field>
                </v-flex>
              </v-layout>
              <v-layout>
                <v-flex xs12>
                  <quill-editor ref="myTextEditor"
                    v-model="description"
                    :options="editorOption">
                  </quill-editor>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
        <v-card-actions>
            <v-spacer></v-spacer>
            <v-layout>
              <v-flex xs12>
                <v-btn class="blue--text darken-1" flat
                  @click.native="modalHistory = false">Fechar</v-btn>
                <v-btn primary class="white--text darken-1"
                       v-bind:loading="loading"
                       v-on:click.native="loader = 'loading'"
                       v-bind:disabled="loading"
                       v-tooltip:top="{ html: 'Cadastrar' }"
                    @click.native="registerHistory()">
                    Salvar
                </v-btn>
              </v-flex>
            </v-layout>
        </v-card-actions>
      </v-card>
    </v-dialog>

    <!-- modal Visualizar -->
    <v-dialog v-model="modalViewHistory" width="800" class="right" persistent>
      <v-card>
        <v-card-title class="headline blue--text">
          Visualizar histórico
        </v-card-title>
        <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        <v-card-text>
          <v-container fluid>
            <v-layout>
              <v-flex xs4>
                <strong>Ação:</strong>
                <br />
                <span v-text="history.action"></span>
              </v-flex>
              <v-flex xs4>
                <strong>Contato:</strong>
                <br />
                <span v-text="history.contact"></span>
              </v-flex>
              <v-flex xs4 v-if="history.callCenter != ''">
                <strong>Central telefônica:</strong>
                <br />
                <span v-text="history.callCenter"></span>
              </v-flex>
            </v-layout>
            <v-layout>
              <v-flex xs12>
                <br />
                <strong>Descrição:</strong>
                <br />
                <div>
                  <span v-html="history.description"></span>
                </div>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card-text>
        <v-card-actions>
          <v-btn class="blue--text darken-1" flat
            @click.native="modalViewHistory = false">
            Fechar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
const moment = require('moment')
require('moment/locale/br')
export default {
  inject: ['$validator'],
  name: 'history',
  props: {
    idProcess: {
      required: true
    }
  },
  data () {
    return {
      editorOption: {
        placeholder: 'Histórico...'
      },
      process: {
        type: null,
        contact: null,
        finalized: null,
        id: null
      },
      description: null,
      history: {
        contact: null,
        description: null,
        action: null,
        idProcess: null,
        callCenter: null
      },
      headers: [
        { text: 'Cod', align: 'left', sortable: false },
        { text: 'Ações', align: 'left', sortable: false },
        { text: 'Contato', align: 'left', sortable: false },
        { text: 'Descrição', align: 'left', sortable: false },
        { text: 'Data', align: 'left', sortable: false },
        { text: 'Autor', align: 'left', sortable: false },
        { text: 'Ação' }
      ],
      loading: false,
      items: [],
      pageHistory: false,
      action: [],
      contactSelect: [],
      totalItemshistory: null,
      modalHistory: false,
      pagenationHistory: 1,
      search: null,
      processHistory: {},
      modalViewHistory: false
    }
  },
  methods: {
    registerHistory () {
      this.loading = true
      this.history.description = this.description
      this.$http.post(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + this.history.idProcess + '/history',
        this.history
      ).then(response => {
        this.fetchAllHistory(this.idProcess)
        this.$toasted.success('Dados cadastrado com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
        this.modalHistory = false
        this.history = {
          contact: null,
          description: null,
          action: null
        }
        this.description = ''
      }, response => {
        this.$toasted.error('Falha ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
        this.loading = false
      })
    },
    fetchAllHistory (idProcess) {
      this.loading = true
      this.history.idProcess = idProcess
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + idProcess + '/history', { params: { page: this.pagenationHistory } }).then(function (response) {
        this.items = response.body._embedded.company_history
        this.totalItemshistory = response.body.page_count
        this.loading = false
      })
    },
    fetchHistory (idHistorico) {
      this.loading = true
      this.modalViewHistory = true
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + this.idProcess + '/history/' + idHistorico).then(function (response) {
        this.popularHistory(response.body)
        this.loading = false
      })
    },
    popularHistory (objParams) {
      this.history.description = objParams.description
      this.history.action = objParams._embedded.action.name
      this.history.contact = objParams._embedded.contact.name
      this.history.callCenter = objParams.callCenter
    },
    fetchProcess (idProcess) {
      this.loading = true
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/process/' + idProcess).then(function (response) {
        this.popularProcess(response.body)
        this.loading = false
      })
    },
    popularProcess (objParams) {
      if (objParams.finalized) {
        objParams.finalized = moment(objParams.finalized.date).format('DD/MM/YYYY')
      }
      this.process = {
        type: objParams._embedded.type.name,
        contact: objParams._embedded.contact.name,
        finalized: objParams.finalized,
        start: this.dateFormatBr(objParams.start.date),
        user: JSON.parse(objParams.user).userName,
        id: objParams.id
      }
    },
    fetchAllContact () {
      this.loading = true
      this.$http.get(process.env.API_URL + 'company/' + this.$route.params.id + '/contact', { params: { page: this.page } }).then(function (response) {
        let i
        this.contactSelect = response.body._embedded.contact
        for (i = 0; i < response.body._embedded.contact.length; i++) {
          this.contactSelect[i].text = response.body._embedded.contact[i].name
          this.contactSelect[i].value = response.body._embedded.contact[i].id
        }
      })
    },
    paginate () {
      this.fetchAllContact()
    },
    fetchAllAction () {
      this.$http.get(process.env.API_URL + 'action', { page_action: '-1' }).then(function (response) {
        let i
        this.action = response.body._embedded.action
        for (i = 0; i < response.body._embedded.action.length; i++) {
          this.action[i].text = response.body._embedded.action[i].name
          this.action[i].value = response.body._embedded.action[i].id
        }
      })
    },
    dateFormatBr (date) {
      return moment(date).format('DD/MM/YYYY')
    }
  },
  mounted () {
    this.fetchProcess(this.idProcess)
    this.fetchAllHistory(this.idProcess)
    this.fetchAllAction()
    this.fetchAllContact()
  }
}
</script>
<style scoped>
  .dialog > .card .card__row--actions {
    margin-top: 35px !important;
    padding-right: 20px;
  }
</style>
