<template>
  <v-container id="permission-edit" fluid>
  <v-layout>
    <v-flex xs12 md10 xl10>
        <v-layout>
          <v-flex xs11>
            <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="purple--text">add</v-icon> {{ title }}</h4>
          </v-flex>
          <v-flex xs1>
            <div class="right">
                <router-link to="/permissao">
                    <v-btn primary fab small dark v-tooltip:left="{ html: 'Voltar para listagem de  Perfis' }">
                      <v-icon class="white--text">chevron_left</v-icon>
                    </v-btn>
                </router-link>
            </div>
          </v-flex>
        </v-layout>
    </v-flex>
  </v-layout>
  <v-layout>
    <v-flex xs12 md10 xl10>
      <v-card>
          <v-flex xs12>
            <form class="" @submit.prevent="register()">
              <v-layout row wrap>
                  <v-flex xs12>
                    <v-select
                      v-bind:items="profiles"
                      v-model="permission.profile"
                      label="Perfil"
                      light
                      single-line
                      auto
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <v-flex xs12>
                    <v-select
                      v-bind:items="functionalitys"
                      v-model="permission.functionality"
                      label="Funcionalidade"
                      light
                      single-line
                      auto
                      required
                    />
                  </v-flex>
              </v-layout>
              <v-layout row wrap>
                  <!-- Cadastrar Colaborador -->
                  <v-flex xs5 offset-xs7>
                      <v-btn
                        class="right"
                        v-bind:loading="loading"
                        v-on:click.native="loader = 'loading'"
                        v-bind:disabled="loading"
                        primary
                        type="submit"
                        v-tooltip:top="{ html: 'Cadastrar Permissão' }"
                      >
                        Cadastrar
                        <v-icon right class="white--text">check_circle</v-icon>
                      </v-btn>
                  </v-flex>
              </v-layout>
            </form>
          </v-flex>
      </v-card>
    </v-flex>
</v-layout>
</v-container>
</template>

<script>

export default {
  inject: ['$validator'],
  name: 'permission-create',
  data () {
    return {
      title: 'Adicionar Permissão',
      permission: {
        profile: '',
        functionality: ''
      },
      loading: false,
      status: true,
      profiles: [],
      functionalitys: [],
      i: ''
    }
  },
  mounted () {
    this.fetchProfile()
    this.fetchFunctionality()
  },
  methods: {
    register () {
      this.loading = true
      this.$http.post(process.env.API_URL + 'oversight/permission', this.permission).then(response => {
        this.loading = false
        this.$toasted.success('Dados cadastrados com sucesso.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
//        this.$router.push('/permissao')
        this.permission = {}
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    fetchProfile () {
      this.$http.get(process.env.API_URL + 'oversight/profile', { params: { status: this.status } }).then(response => {
        this.profiles = response.body._embedded.profile
        for (this.i = 0; this.i < response.body._embedded.profile.length; this.i++) {
          this.profiles[this.i].text = response.body._embedded.profile[this.i].name
          this.profiles[this.i].value = response.body._embedded.profile[this.i].id
        }
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    },
    fetchFunctionality () {
      this.$http.get(process.env.API_URL + 'oversight/functionality', { params: { status: this.status } }).then(function (response) {
        this.functionalitys = response.body._embedded.functionality
        for (this.i = 0; this.i < response.body._embedded.functionality.length; this.i++) {
          this.functionalitys[this.i].text = response.body._embedded.functionality[this.i].name
          this.functionalitys[this.i].value = response.body._embedded.functionality[this.i].id
        }
      }, response => {
        this.loading = false
        this.$toasted.error('Ocorreu um erro ao tentar realizar a operação.', {
          theme: 'bubble',
          position: 'top-right',
          duration: 5000
        })
      })
    }
  },
  components: {}
}
</script>

<style scoped>
  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
</style>
