<template>
  <v-container id="permission" fluid>
      <div class="spinner" v-if="loading">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
      </div>
  <v-layout>
      <!-- DataGrid -->
      <v-flex xs12="xs12" v-if="!loading">
      <h4 class="display-1" style="color: #1976d2; font-size: 25px;"><v-icon medium class="green--text">security</v-icon> {{ title }}</h4>
        <!-- <v-card>
          <v-card-text> -->
            <v-data-table
                v-bind:headers="headers"
                :items="items"
                v-bind:search="search"
                hide-actions
                class="elevation-1"
              >
              <template slot="items" scope="props">
                <td class="text-xs-left">{{ props.item._embedded.profile.name }}</td>
                <td class="text-xs-left">{{ props.item._embedded.functionality.name }}</td>
                <td class="text-xs-left">
                    <router-link :to="{ path: '/permissao/edit/' + props.item.id }">
                    <v-btn icon="icon" class="right" v-tooltip:top="{ html: 'Editar' }">
                      <v-icon class="blue--text">edit</v-icon>
                    </v-btn>
                    </router-link>
                </td>
              </template>
            </v-data-table>
            <!-- Pagination -->
            <v-flex xs8 offset-xs3>
              <v-pagination v-if="totalItems > 0" v-bind:length.number="totalItems" v-model="page" class="center" @click.native="paginate()"/>
            </v-flex>
          <!-- </v-card-text>
        </v-card> -->
        <div>
        <router-link :to="{ path: '/permissao/create' }">
          <v-btn primary fab dark class="right" style="margin-top: 10px;" v-tooltip:left="{ html: 'Cadastrar Permissão' }">
            <v-icon class="white--text">add</v-icon>
          </v-btn>
        </router-link>
        </div>
      </v-flex>
  </v-layout>
  </v-container>

</template>

<script>
import Vue from 'vue'

Vue.filter('formatStatus', function (value) {
  if (value === true) {
    return 'Ativo'
  } else {
    return 'Inativo'
  }
})

export default {
  name: 'permission',
  data () {
    return {
      title: 'Permissão',
      permissions: [],
      totalItems: null,
      headers: [
        { text: 'Perfil', value: 'profile', left: true },
        { text: 'Funcionalidade', value: 'functionality', left: true },
        { text: 'Ações', sortable: false }
      ],
      search: null,
      items: [],
      page: 1,
      alert: false,
      loading: true
    }
  },
  mounted () {
    this.fetchPermission()
  },
  methods: {
    fetchPermission: function () {
      this.$http.get(process.env.API_URL + 'oversight/permission', { params: { page: this.page } }).then(function (response) {
        this.permissions = response.body._embedded.permission
        this.items = response.body._embedded.permission
        this.totalItems = response.body.page_count
        this.loading = false
      })
    },
    excluir (id) {
      this.$http.delete(process.env.API_URL + 'oversight/permission/' + id).then(function (response) {
        this.alert = true
        this.fetchPermission()
      })
    },
    paginate () {
      this.fetchPermission()
    }
  },
  components: {}
}
</script>

<style scoped>

</style>
